nifi/OSIRIS_-_Flights(adsb.lol).json
{"flowContents":{"identifier":"33d6d633-6d6e-368d-b94c-d8b7e297c493","instanceIdentifier":"34132c80-019f-1000-0000-000027319996","name":"OSIRIS_-_Flights(adsb.lol)","comments":"","position":{"x":-760.0,"y":-24.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"f38e993d-c4e9-3ca0-a63a-1bc7e69c45c5","instanceIdentifier":"34148a36-019f-1000-0000-000058628a63","name":"Generate Coordinates for ADSB.lol (5 min)","comments":"","position":{"x":-184.0,"y":-672.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":"[\n  {\"lat\": 40.7,  \"lon\": -74.0,  \"region\": \"us-northeast\"},\n  {\"lat\": 34.0,  \"lon\": -118.2, \"region\": \"us-west\"},\n  {\"lat\": 51.5,  \"lon\": 2.0,    \"region\": \"western-europe\"},\n  {\"lat\": 25.3,  \"lon\": 52.5,   \"region\": \"gulf\"},\n  {\"lat\": 23.5,  \"lon\": 116.0,  \"region\": \"east-asia\"},\n  {\"lat\": 35.6,  \"lon\": 139.7,  \"region\": \"japan\"}\n]","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"5 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"33d6d633-6d6e-368d-b94c-d8b7e297c493"},{"identifier":"d164d0ec-361a-326e-ffff-ffffd92be44f","instanceIdentifier":"a982c5eb-421f-314f-8b4e-c5ebe9a66765","name":"PublishKafka","comments":"","position":{"x":-176.0,"y":608.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"compression.type":"none","acks":"all","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"osiris-events","Kafka Key":null,"partition":null,"Kafka Connection Service":"8b40e11e-5dec-3d29-935c-ebe8f527a728","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"true","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"33d6d633-6d6e-368d-b94c-d8b7e297c493"},{"identifier":"bcf93474-5de8-3ffc-ffff-ffffd92be44f","instanceIdentifier":"7b003018-2880-374a-a7a7-c237736bb50d","name":"Transform to PolyBolos","comments":"","position":{"x":-184.0,"y":312.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"/**\n * NiFi ExecuteScript — adsb.lol flights -> canonical osiris.entities Kafka messages.\n *\n * Input:  FlowFile body = raw adsb.lol JSON from InvokeHTTP\n *         (GET https://api.adsb.lol/v2/point/{lat}/{lon}/{dist}; the aircraft\n *          array is under the top-level \"ac\" key). Run one InvokeHTTP per region\n *          and let this script process each response; OR merge regions upstream.\n * Output: One FlowFile per entity (envelope matching earthquakes-ingest.groovy).\n *\n * Script path inside container: /opt/nifi/conf/osiris/scripts/flights-ingest.groovy\n *\n * Notes:\n *   - entityType = 'FLIGHT'; entity.properties.category ∈ {commercial, private, jet, military}\n *     is derived here (adsb.lol has no category field) by porting OSIRIS's\n *     classifyFlight() — type-code sets + dbFlags bit + callsign patterns.\n *   - Explicit f['key'] bracket access throughout (bean-accessor trap avoidance).\n *   - JsonOutput.toJson preserves numeric types (alt/speed/heading stay numbers).\n *   - No category_os (OpenSky) branch — source is adsb.lol. Add back if present.\n */\nimport org.apache.commons.io.IOUtils\nimport groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\nimport java.time.Instant\nimport java.time.ZoneOffset\nimport java.time.format.DateTimeFormatter\n\ndef flowFile = session.get()\nif (!flowFile) return\n\n// ── classification tables (ported from OSIRIS classifyFlight) ──\ndef HELI_TYPES = [\n    'R22','R44','R66','B06','B06T','B204','B205','B206','B212','B222','B230',\n    'B407','B412','B427','B429','B430','B505','B525',\n    'AS32','AS35','AS50','AS55','AS65',\n    'EC20','EC25','EC30','EC35','EC45','EC55','EC75',\n    'H125','H130','H135','H145','H155','H160','H175','H215','H225',\n    'S55','S58','S61','S64','S70','S76','S92',\n    'A109','A119','A139','A169','A189','AW09',\n    'MD52','MD60','MDHI','MD90','NOTR',\n    'B47G','HUEY','GAMA','CABR','EXE',\n] as Set\n\ndef PRIVATE_JET_TYPES = [\n    'G150','G200','G280','GLEX','G500','G550','G600','G650','G700',\n    'GLF2','GLF3','GLF4','GLF5','GLF6','GL5T','GL7T','GV','GIV',\n    'CL30','CL35','CL60','BD70','BD10',\n    'C25A','C25B','C25C','C500','C510','C525','C550','C560','C56X','C680','C700','C750',\n    'E35L','E50P','E55P','E545','E550',\n    'FA50','FA7X','FA8X','F900','F2TH',\n    'LJ35','LJ40','LJ45','LJ60','LJ70','LJ75',\n    'PC12','PC24','TBM7','TBM8','TBM9',\n    'PRM1','SF50','EA50','VLJ',\n] as Set\n\ndef MILITARY_INDICATORS = [\n    'C17','C5M','C130','C30J','KC10','KC46','KC35','E3CF','E3TF','E8A',\n    'B1B','B2','B52','F16','F15','F18','F22','F35','A10','F117',\n    'RC135','E6B','P8A','P3','MQ9','RQ4','U2','EP3','RC12',\n    'V22','CH47','UH60','AH64','AH1Z','MV22',\n    'EUFI','RFAL','TORD','TYP','GR4',\n] as Set\n\n// Known airliner models — used to keep genuine airliners out of the 'private' bucket\ndef AIRLINER_MODELS = [\n    'A319','A320','A321','A332','A333','A339','A343','A359','A388',\n    'B737','B738','B739','B38M','B39M','B752','B753','B763','B764',\n    'B772','B77L','B77W','B788','B789','B78X',\n    'E170','E175','E190','E195','CRJ7','CRJ9','AT43','AT72','DH8D',\n] as Set\n\ndef AIRLINE_CODE_RE = ~/^([A-Z]{3})\\d/\ndef MIL_CALLSIGN_RE = ~/(?i)^(RCH|KING|DUKE|EVAC|JAKE|REACH|CONVOY)\\d/\n\ndef slurper = new JsonSlurper()\ndef raw = session.read(flowFile).text\ndef payload = slurper.parseText(raw)\n\n// adsb.lol puts aircraft under \"ac\"\ndef aircraft = (payload?.get('ac')) ?: []\n\ndef capturedAt = Instant.now().atOffset(ZoneOffset.UTC)\n    .format(DateTimeFormatter.ofPattern(\"yyyy-MM-dd'T'HH:mm:ss'Z'\"))\ndef ingestRunId = flowFile.getAttribute('ingest.run.id') ?: ('nifi-' + UUID.randomUUID().toString().take(12))\n\ndef provider  = 'adsb.lol'\ndef feed      = 'flights'\ndef sourceUrl = flowFile.getAttribute('invokehttp.request.url') ?: 'https://api.adsb.lol'\ndef emitted   = 0\n\naircraft.each { f ->\n    // ── explicit bracket access (bean-accessor trap avoidance) ──\n    def model     = ((f['t'] ?: '') as String).toUpperCase()\n    def flightStr = ((f['flight'] ?: '') as String).trim().toUpperCase()\n    def hex       = (f['hex'] ?: '') as String\n    def dbFlags   = (f['dbFlags'] ?: 0) as Integer\n    def lat       = f['lat']\n    def lon       = f['lon']\n\n    // Skip fixed structures and positionless records\n    if (model == 'TWR') return\n    if (lat == null || lon == null) return\n\n    def callsign = flightStr ?: (hex ?: 'UNKNOWN')\n    def altRaw   = f['alt_baro']\n    def altMeters = (altRaw instanceof Number) ? ((altRaw as Double) * 0.3048) : 0.0d\n    def speedKnots = (f['gs'] instanceof Number) ? (Math.round((f['gs'] as Double) * 10) / 10.0d) : null\n    def heading  = (f['track'] instanceof Number) ? (f['track'] as Double) : 0.0d\n    def isHeli   = HELI_TYPES.contains(model)\n    def isGrounded = (altRaw instanceof Number) && ((altRaw as Double) < 100)\n\n    // Extract airline code from callsign (e.g. UAL123 -> UAL)\n    def airlineMatch = AIRLINE_CODE_RE.matcher(callsign)\n    def airlineCode = airlineMatch.find() ? airlineMatch.group(1) : ''\n\n    // ── classification (ported classifyFlight, no category_os) ──\n    def category = 'commercial'\n    if ((dbFlags & 1) || MILITARY_INDICATORS.contains(model) || MIL_CALLSIGN_RE.matcher(flightStr).find()) {\n        category = 'military'\n    } else if (PRIVATE_JET_TYPES.contains(model)) {\n        category = 'jet'\n    } else if (!airlineCode && model && !AIRLINER_MODELS.contains(model)) {\n        category = 'private'\n    }\n\n    def entity = [\n        id            : hex ?: callsign,\n        name          : callsign,\n        domain        : 'AIR',\n        entityType    : 'FLIGHT',\n        position      : [\n            lat: lat as Double,\n            lng: lon as Double,\n            alt: altMeters as Double,\n        ],\n        threat        : (category == 'military') ? 'LOW' : 'NONE',\n        classification: 'UNCLASSIFIED',\n        confidence    : 0.9,\n        timestamp     : capturedAt,\n        source        : [\n            provider  : provider,\n            feed      : feed,\n            originalId: hex ?: callsign,\n            confidence: 0.9,\n            sourceUrl : sourceUrl,\n        ],\n        properties    : [\n            callsign        : callsign,\n            category        : category,           // commercial | private | jet | military\n            aircraft_category: isHeli ? 'heli' : 'plane',\n            model           : (f['t'] ?: 'Unknown'),\n            icao24          : hex,\n            registration    : (f['r'] ?: 'N/A'),\n            squawk          : (f['squawk'] ?: ''),\n            airline_code    : airlineCode,\n            heading         : Math.round(heading),\n            speed_knots     : speedKnots,\n            grounded        : isGrounded,\n            nac_p           : f['nac_p'],\n        ],\n    ]\n\n    def traceId = UUID.randomUUID().toString()\n\n    def envelope = [\n        schema_version: 1,\n        trace_id      : traceId,\n        ingest_run_id : ingestRunId,\n        source        : feed,\n        captured_at   : capturedAt,\n        entity        : entity,\n    ]\n\n    def out = session.create(flowFile)\n    out = session.write(out, { outStream ->\n        outStream.write(JsonOutput.toJson(envelope).getBytes('UTF-8'))\n    } as OutputStreamCallback)\n    out = session.putAttribute(out, 'mime.type', 'application/json')\n    out = session.putAttribute(out, 'kafka.key', entity.id?.toString())\n    out = session.putAttribute(out, 'trace.id', traceId)\n    session.transfer(out, REL_SUCCESS)\n    emitted++\n}\n\nif (emitted == 0) {\n    log.warn('No flight entities emitted from adsb.lol payload')\n    session.transfer(flowFile, REL_FAILURE)\n} else {\n    log.info(\"Emitted ${emitted} flight entities to Kafka path\")\n    session.remove(flowFile)\n}\n","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"33d6d633-6d6e-368d-b94c-d8b7e297c493"},{"identifier":"0c019459-4565-3848-b587-a36195612fba","instanceIdentifier":"3414d5eb-019f-1000-ffff-ffffbe09a6f5","name":"InvokeHTTP","comments":"","position":{"x":-184.0,"y":32.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"20 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"20 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://api.adsb.lol/v2/point/${lat}/${lon}/250","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":"OSIRIS-Flight-Layer (demo cburns@cloudera.com)","Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"33d6d633-6d6e-368d-b94c-d8b7e297c493"},{"identifier":"7056c0e2-9f3a-3267-976e-a8fa522e4b26","instanceIdentifier":"34c207cf-019f-1000-ffff-ffff922479fc","name":"Split Coords","comments":"","position":{"x":-192.0,"y":-448.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.*"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"33d6d633-6d6e-368d-b94c-d8b7e297c493"},{"identifier":"ec896110-1f01-302b-9bfb-9b6130b3f6ac","instanceIdentifier":"34c2ece4-019f-1000-0000-00001aad3d0f","name":"EvaluateJsonPath","comments":"","position":{"x":-192.0,"y":-232.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"json","Null Value Representation":"empty string","lon":"$.lon","region":"$.region","lat":"$.lat","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"lon":{"name":"lon","displayName":"lon","identifiesControllerService":false,"sensitive":false,"dynamic":true},"region":{"name":"region","displayName":"region","identifiesControllerService":false,"sensitive":false,"dynamic":true},"lat":{"name":"lat","displayName":"lat","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"33d6d633-6d6e-368d-b94c-d8b7e297c493"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"81f123a8-5b26-3f58-ba41-f85212a1d0f2","instanceIdentifier":"34c22556-019f-1000-0000-00000de6b2a4","name":"","source":{"id":"f38e993d-c4e9-3ca0-a63a-1bc7e69c45c5","type":"PROCESSOR","groupId":"33d6d633-6d6e-368d-b94c-d8b7e297c493","name":"Generate Coordinates for ADSB.lol (5 min)","comments":"","instanceIdentifier":"34148a36-019f-1000-0000-000058628a63"},"destination":{"id":"7056c0e2-9f3a-3267-976e-a8fa522e4b26","type":"PROCESSOR","groupId":"33d6d633-6d6e-368d-b94c-d8b7e297c493","name":"Split Coords","comments":"","instanceIdentifier":"34c207cf-019f-1000-ffff-ffff922479fc"},"labelIndex":0,"zIndex":7,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"33d6d633-6d6e-368d-b94c-d8b7e297c493"},{"identifier":"df2d5037-ba60-30df-9c4f-479a2e95b0a8","instanceIdentifier":"34c37a37-019f-1000-ffff-ffff8111fc9e","name":"","source":{"id":"7056c0e2-9f3a-3267-976e-a8fa522e4b26","type":"PROCESSOR","groupId":"33d6d633-6d6e-368d-b94c-d8b7e297c493","name":"Split Coords","comments":"","instanceIdentifier":"34c207cf-019f-1000-ffff-ffff922479fc"},"destination":{"id":"ec896110-1f01-302b-9bfb-9b6130b3f6ac","type":"PROCESSOR","groupId":"33d6d633-6d6e-368d-b94c-d8b7e297c493","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"34c2ece4-019f-1000-0000-00001aad3d0f"},"labelIndex":0,"zIndex":9,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"33d6d633-6d6e-368d-b94c-d8b7e297c493"},{"identifier":"044f908a-e4b1-388e-953c-438432795096","instanceIdentifier":"34160bde-019f-1000-0000-00001176aa8d","name":"","source":{"id":"bcf93474-5de8-3ffc-ffff-ffffd92be44f","type":"PROCESSOR","groupId":"33d6d633-6d6e-368d-b94c-d8b7e297c493","name":"Transform to PolyBolos","comments":"","instanceIdentifier":"7b003018-2880-374a-a7a7-c237736bb50d"},"destination":{"id":"d164d0ec-361a-326e-ffff-ffffd92be44f","type":"PROCESSOR","groupId":"33d6d633-6d6e-368d-b94c-d8b7e297c493","name":"PublishKafka","comments":"","instanceIdentifier":"a982c5eb-421f-314f-8b4e-c5ebe9a66765"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"33d6d633-6d6e-368d-b94c-d8b7e297c493"},{"identifier":"3ccbf0c1-95e4-34b1-a2ed-d8fcbcffa972","instanceIdentifier":"34c35f84-019f-1000-ffff-ffffa1908c61","name":"","source":{"id":"7056c0e2-9f3a-3267-976e-a8fa522e4b26","type":"PROCESSOR","groupId":"33d6d633-6d6e-368d-b94c-d8b7e297c493","name":"Split Coords","comments":"","instanceIdentifier":"34c207cf-019f-1000-ffff-ffff922479fc"},"destination":{"id":"6ad6fa88-836f-344a-8634-544e3d25d08b","type":"FUNNEL","groupId":"33d6d633-6d6e-368d-b94c-d8b7e297c493","name":"Funnel","comments":"","instanceIdentifier":"3414a4ff-019f-1000-0000-000047f405e1"},"labelIndex":0,"zIndex":8,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"33d6d633-6d6e-368d-b94c-d8b7e297c493"},{"identifier":"733131a7-fc64-34db-8749-f194e6c0f904","instanceIdentifier":"341632d0-019f-1000-0000-00006df425e8","name":"","source":{"id":"d164d0ec-361a-326e-ffff-ffffd92be44f","type":"PROCESSOR","groupId":"33d6d633-6d6e-368d-b94c-d8b7e297c493","name":"PublishKafka","comments":"","instanceIdentifier":"a982c5eb-421f-314f-8b4e-c5ebe9a66765"},"destination":{"id":"6ad6fa88-836f-344a-8634-544e3d25d08b","type":"FUNNEL","groupId":"33d6d633-6d6e-368d-b94c-d8b7e297c493","name":"Funnel","comments":"","instanceIdentifier":"3414a4ff-019f-1000-0000-000047f405e1"},"labelIndex":0,"zIndex":6,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"33d6d633-6d6e-368d-b94c-d8b7e297c493"},{"identifier":"27e7b2db-2f30-37c8-af5a-3050b11089c7","instanceIdentifier":"34161d31-019f-1000-0000-00006f0f3b0f","name":"","source":{"id":"bcf93474-5de8-3ffc-ffff-ffffd92be44f","type":"PROCESSOR","groupId":"33d6d633-6d6e-368d-b94c-d8b7e297c493","name":"Transform to PolyBolos","comments":"","instanceIdentifier":"7b003018-2880-374a-a7a7-c237736bb50d"},"destination":{"id":"6ad6fa88-836f-344a-8634-544e3d25d08b","type":"FUNNEL","groupId":"33d6d633-6d6e-368d-b94c-d8b7e297c493","name":"Funnel","comments":"","instanceIdentifier":"3414a4ff-019f-1000-0000-000047f405e1"},"labelIndex":0,"zIndex":5,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"33d6d633-6d6e-368d-b94c-d8b7e297c493"},{"identifier":"1efa012b-5a63-37ed-a8a1-21dc2e3bf0ff","instanceIdentifier":"34c97b2c-019f-1000-ffff-ffff990c9a3e","name":"","source":{"id":"ec896110-1f01-302b-9bfb-9b6130b3f6ac","type":"PROCESSOR","groupId":"33d6d633-6d6e-368d-b94c-d8b7e297c493","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"34c2ece4-019f-1000-0000-00001aad3d0f"},"destination":{"id":"6ad6fa88-836f-344a-8634-544e3d25d08b","type":"FUNNEL","groupId":"33d6d633-6d6e-368d-b94c-d8b7e297c493","name":"Funnel","comments":"","instanceIdentifier":"3414a4ff-019f-1000-0000-000047f405e1"},"labelIndex":0,"zIndex":10,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"33d6d633-6d6e-368d-b94c-d8b7e297c493"},{"identifier":"e8fc5274-5807-39b9-8be0-397b03fa9cde","instanceIdentifier":"3415fa75-019f-1000-0000-00003225daa2","name":"","source":{"id":"0c019459-4565-3848-b587-a36195612fba","type":"PROCESSOR","groupId":"33d6d633-6d6e-368d-b94c-d8b7e297c493","name":"InvokeHTTP","comments":"","instanceIdentifier":"3414d5eb-019f-1000-ffff-ffffbe09a6f5"},"destination":{"id":"bcf93474-5de8-3ffc-ffff-ffffd92be44f","type":"PROCESSOR","groupId":"33d6d633-6d6e-368d-b94c-d8b7e297c493","name":"Transform to PolyBolos","comments":"","instanceIdentifier":"7b003018-2880-374a-a7a7-c237736bb50d"},"labelIndex":0,"zIndex":3,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"33d6d633-6d6e-368d-b94c-d8b7e297c493"},{"identifier":"7f5ca088-6d40-31e9-bca6-f78fcfb04389","instanceIdentifier":"34150b5c-019f-1000-ffff-ffffcfa30869","name":"","source":{"id":"0c019459-4565-3848-b587-a36195612fba","type":"PROCESSOR","groupId":"33d6d633-6d6e-368d-b94c-d8b7e297c493","name":"InvokeHTTP","comments":"","instanceIdentifier":"3414d5eb-019f-1000-ffff-ffffbe09a6f5"},"destination":{"id":"6ad6fa88-836f-344a-8634-544e3d25d08b","type":"FUNNEL","groupId":"33d6d633-6d6e-368d-b94c-d8b7e297c493","name":"Funnel","comments":"","instanceIdentifier":"3414a4ff-019f-1000-0000-000047f405e1"},"labelIndex":0,"zIndex":2,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"33d6d633-6d6e-368d-b94c-d8b7e297c493"},{"identifier":"ca55e6fb-95ba-344c-a367-bab882ec8b5e","instanceIdentifier":"34c9f5dc-019f-1000-ffff-ffff962d4b87","name":"","source":{"id":"ec896110-1f01-302b-9bfb-9b6130b3f6ac","type":"PROCESSOR","groupId":"33d6d633-6d6e-368d-b94c-d8b7e297c493","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"34c2ece4-019f-1000-0000-00001aad3d0f"},"destination":{"id":"0c019459-4565-3848-b587-a36195612fba","type":"PROCESSOR","groupId":"33d6d633-6d6e-368d-b94c-d8b7e297c493","name":"InvokeHTTP","comments":"","instanceIdentifier":"3414d5eb-019f-1000-ffff-ffffbe09a6f5"},"labelIndex":0,"zIndex":11,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"33d6d633-6d6e-368d-b94c-d8b7e297c493"}],"labels":[],"funnels":[{"identifier":"6ad6fa88-836f-344a-8634-544e3d25d08b","instanceIdentifier":"3414a4ff-019f-1000-0000-000047f405e1","position":{"x":-856.0,"y":80.0},"componentType":"FUNNEL","groupIdentifier":"33d6d633-6d6e-368d-b94c-d8b7e297c493"}],"controllerServices":[{"identifier":"8b40e11e-5dec-3d29-935c-ebe8f527a728","instanceIdentifier":"341685b3-019f-1000-ffff-fffff31e3a55","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"ack.wait.time":"5 sec","sasl.username":"cburns","max.poll.records":"10000","bootstrap.servers":"intelligence-service-kafka-corebroker0.se-sandb.a465-9q4k.cloudera.site:9093, intelligence-service-kafka-corebroker2.se-sandb.a465-9q4k.cloudera.site:9093, intelligence-service-kafka-corebroker1.se-sandb.a465-9q4k.cloudera.site:9093","sasl.kerberos.service.name":null,"security.protocol":"SASL_SSL","SSL Context Service":null,"sasl.mechanism":"PLAIN","isolation.level":"read_committed","oauth2-access-token-provider-service":null,"max.block.ms":"5 sec","kerberos-user-service":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider-service":{"name":"oauth2-access-token-provider-service","displayName":"OAuth2 Access Token Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.6.0.4.12.0.0-914"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"33d6d633-6d6e-368d-b94c-d8b7e297c493"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}