nifi/OSIRIS_-_WEATHER_(EONET).json
{"flowContents":{"identifier":"fb8c64d2-6026-3425-98fe-9dbf5fbb8c16","instanceIdentifier":"290d7855-019f-1000-ffff-ffffcbc8ba24","name":"OSIRIS_-_WEATHER_(EONET)","comments":"","position":{"x":328.0,"y":-344.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"295541d6-2873-3df4-ffff-fffff47c5355","instanceIdentifier":"eb2704a5-9c1f-31cc-a1a1-67e42fe46af8","name":"Call EONET WEATHER API (10 MIN)","comments":"","position":{"x":-192.0,"y":-560.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"10 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb8c64d2-6026-3425-98fe-9dbf5fbb8c16"},{"identifier":"3e5ec3ca-b9a0-368a-ffff-fffff47c5355","instanceIdentifier":"38650f16-d126-38d3-916d-7e848b1a2789","name":"Transform to PolyBolos","comments":"","position":{"x":-200.0,"y":-96.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"/**\n * NiFi ExecuteScript — NASA EONET open events -> canonical osiris-events Kafka messages.\n *\n * Input:  FlowFile body = EONET v3 JSON (https://eonet.gsfc.nasa.gov/api/v3/events?status=open&limit=100)\n * Output: One FlowFile per WEATHER entity. Volcanoes are ALSO emitted a second\n *         time as FIRE entities (distinct id prefix) so the fires map layer keeps\n *         its volcano markers — parity with the direct-API behavior where\n *         volcanoes appear on both layers.\n *\n * Mirrors src/app/api/weather/route.ts (EONET branch) and the volcano block of\n * src/app/api/fires/route.ts.\n *\n * NOTE (CFM/Groovy): use f['key'] access everywhere — .properties resolves to the\n * bean accessor on older Groovy (the bug that nulled earthquake magnitudes).\n */\nimport org.apache.commons.io.IOUtils\nimport groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\nimport java.time.Instant\nimport java.time.ZoneOffset\nimport java.time.format.DateTimeFormatter\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ndef slurper = new JsonSlurper()\ndef raw = session.read(flowFile).text\ndef data = slurper.parseText(raw)\n\ndef capturedAt = Instant.now().atOffset(ZoneOffset.UTC)\n    .format(DateTimeFormatter.ofPattern(\"yyyy-MM-dd'T'HH:mm:ss'Z'\"))\ndef ingestRunId = flowFile.getAttribute('ingest.run.id') ?: ('nifi-' + UUID.randomUUID().toString().take(12))\ndef sourceUrl = flowFile.getAttribute('invokehttp.request.url') ?: 'https://eonet.gsfc.nasa.gov'\ndef emitted = 0\n\n// Emit one canonical envelope FlowFile. Returns nothing; increments emitted.\ndef emit = { Map entity ->\n    def traceId = UUID.randomUUID().toString()\n    def envelope = [\n        schema_version: 1,\n        trace_id      : traceId,\n        ingest_run_id : ingestRunId,\n        source        : entity['source']['feed'],\n        captured_at   : capturedAt,\n        entity        : entity,\n    ]\n    def out = session.create(flowFile)\n    out = session.write(out, { outStream ->\n        outStream.write(JsonOutput.toJson(envelope).getBytes('UTF-8'))\n    } as OutputStreamCallback)\n    out = session.putAttribute(out, 'mime.type', 'application/json')\n    out = session.putAttribute(out, 'kafka.key', entity['id'].toString())\n    out = session.putAttribute(out, 'trace.id', traceId)\n    session.transfer(out, REL_SUCCESS)\n    emitted++\n}\n\n(data['events'] ?: []).each { e ->\n    def geoms = e['geometry'] ?: []\n    if (!geoms) return\n    def geom = geoms[geoms.size() - 1]                    // latest geometry, like route.ts\n    if (geom['type'] != 'Point' || !geom['coordinates']) return\n    def coords = geom['coordinates']\n    def lat = coords.size() > 1 ? coords[1] as Double : null\n    def lng = coords.size() > 0 ? coords[0] as Double : null\n    if (lat == null || lng == null) return\n\n    def cats = e['categories'] ?: []\n    def category = (cats ? cats[0]['id'] : null) ?: 'unknown'\n\n    // Parity with route.ts: skip wildfires (FIRMS owns them) and earthquakes (own feed).\n    if (category == 'wildfires' || category == 'earthquakes') return\n\n    def typeLabel = 'Event'; def icon = 'alert'; def severity = 'low'\n    if (category == 'severeStorms')      { typeLabel = 'Severe Storm';      icon = 'cyclone'; severity = 'high' }\n    else if (category == 'volcanoes')    { typeLabel = 'Volcano Eruption';  icon = 'volcano'; severity = 'high' }\n    else if (category == 'seaIce')       { typeLabel = 'Iceberg / Sea Ice'; icon = 'ice';     severity = 'medium' }\n    else                                 { typeLabel = (cats ? cats[0]['title'] : null) ?: 'Anomaly' }\n\n    def eventDate = geom['date'] ?: capturedAt\n    def srcs = e['sources'] ?: []\n    def eventSource = (srcs ? srcs[0]['url'] : null) ?: 'NASA EONET'\n\n    // ── WEATHER entity (all retained categories) ──\n    emit([\n        id            : \"eonet-${e['id']}\".toString(),\n        name          : e['title']?.toString(),\n        domain        : 'AIR',\n        entityType    : 'WEATHER',\n        position      : [lat: lat, lng: lng, alt: null],\n        threat        : 'NONE',\n        classification: 'UNCLASSIFIED',\n        confidence    : 0.9,\n        timestamp     : eventDate,\n        source        : [\n            provider  : 'NASA EONET',\n            feed      : 'weather',\n            originalId: e['id']?.toString(),\n            confidence: 0.9,\n            sourceUrl : sourceUrl,\n            updated   : null,\n        ],\n        properties    : [\n            title    : e['title'],\n            category : category,\n            wxtype   : typeLabel,\n            icon     : icon,\n            severity : severity,\n            date     : eventDate,\n            eventSrc : eventSource,\n            provider : 'NASA EONET',\n        ],\n    ])\n\n    // ── Volcano dual-emit: FIRE entity for the fires layer (brightness-500 marker) ──\n    if (category == 'volcanoes') {\n        emit([\n            id            : \"eonet-volc-${e['id']}\".toString(),\n            name          : \"[VOLCANO] ${e['title']}\".toString(),\n            domain        : 'LAND',\n            entityType    : 'FIRE',\n            position      : [lat: lat, lng: lng, alt: null],\n            threat        : 'NONE',\n            classification: 'UNCLASSIFIED',\n            confidence    : 0.9,\n            timestamp     : eventDate,\n            source        : [\n                provider  : 'NASA-EONET',\n                feed      : 'fires',\n                originalId: e['id']?.toString(),\n                confidence: 0.9,\n                sourceUrl : sourceUrl,\n                updated   : null,\n            ],\n            properties    : [\n                brightness: 500,                       // route.ts volcano constants\n                confidence: 'high',\n                frp       : 100,\n                date      : eventDate?.toString()?.split('T')[0],\n                time      : '',\n                firetype  : 'volcano',\n                title     : \"[VOLCANO] ${e['title']}\".toString(),\n                sourceName: 'NASA-EONET',\n            ],\n        ])\n    }\n}\n\nif (emitted == 0) {\n    log.warn('No weather/volcano entities emitted from EONET payload')\n    session.transfer(flowFile, REL_FAILURE)\n} else {\n    log.info(\"Emitted ${emitted} EONET entities to Kafka path\")\n    session.remove(flowFile)\n}","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb8c64d2-6026-3425-98fe-9dbf5fbb8c16"},{"identifier":"57bd8d66-f561-312b-ffff-fffff47c5355","instanceIdentifier":"536a21bb-5e5d-3fb0-a24d-6472665bd68b","name":"InvokeHTTP","comments":"","position":{"x":-208.0,"y":-328.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://eonet.gsfc.nasa.gov/api/v3/events?status=open&limit=100","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":"c6dd76cb-a516-3cd7-8223-413bb46f16ff","Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb8c64d2-6026-3425-98fe-9dbf5fbb8c16"},{"identifier":"a0a8e534-7dde-38f9-0000-00001e56e286","instanceIdentifier":"ae1e4997-d58c-33ef-b160-7ec0e87fd6c6","name":"PublishKafka","comments":"","position":{"x":-200.0,"y":128.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"compression.type":"none","acks":"all","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"osiris-events","Kafka Key":null,"partition":null,"Kafka Connection Service":"28d072d4-fa93-3728-8baf-21c527429091","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"true","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"fb8c64d2-6026-3425-98fe-9dbf5fbb8c16"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"8f0f14b6-4bd2-3c18-8b1e-560eeac5ee2c","instanceIdentifier":"290e5ae2-019f-1000-ffff-ffffdd393421","name":"","source":{"id":"57bd8d66-f561-312b-ffff-fffff47c5355","type":"PROCESSOR","groupId":"fb8c64d2-6026-3425-98fe-9dbf5fbb8c16","name":"InvokeHTTP","comments":"","instanceIdentifier":"536a21bb-5e5d-3fb0-a24d-6472665bd68b"},"destination":{"id":"3e5ec3ca-b9a0-368a-ffff-fffff47c5355","type":"PROCESSOR","groupId":"fb8c64d2-6026-3425-98fe-9dbf5fbb8c16","name":"Transform to PolyBolos","comments":"","instanceIdentifier":"38650f16-d126-38d3-916d-7e848b1a2789"},"labelIndex":0,"zIndex":2,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb8c64d2-6026-3425-98fe-9dbf5fbb8c16"},{"identifier":"ced06a8f-d9f6-3c24-b3d8-3b8489dc713b","instanceIdentifier":"290e98fa-019f-1000-ffff-fffff551a078","name":"","source":{"id":"3e5ec3ca-b9a0-368a-ffff-fffff47c5355","type":"PROCESSOR","groupId":"fb8c64d2-6026-3425-98fe-9dbf5fbb8c16","name":"Transform to PolyBolos","comments":"","instanceIdentifier":"38650f16-d126-38d3-916d-7e848b1a2789"},"destination":{"id":"a0a8e534-7dde-38f9-0000-00001e56e286","type":"PROCESSOR","groupId":"fb8c64d2-6026-3425-98fe-9dbf5fbb8c16","name":"PublishKafka","comments":"","instanceIdentifier":"ae1e4997-d58c-33ef-b160-7ec0e87fd6c6"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb8c64d2-6026-3425-98fe-9dbf5fbb8c16"},{"identifier":"f85a7b6a-0bee-35da-a5e3-2ab640614552","instanceIdentifier":"2938d192-019f-1000-0000-00003295202b","name":"","source":{"id":"a0a8e534-7dde-38f9-0000-00001e56e286","type":"PROCESSOR","groupId":"fb8c64d2-6026-3425-98fe-9dbf5fbb8c16","name":"PublishKafka","comments":"","instanceIdentifier":"ae1e4997-d58c-33ef-b160-7ec0e87fd6c6"},"destination":{"id":"916f96af-105e-32ee-b3f9-09a4fe165bef","type":"FUNNEL","groupId":"fb8c64d2-6026-3425-98fe-9dbf5fbb8c16","name":"Funnel","comments":"","instanceIdentifier":"2938265e-019f-1000-0000-000032d3c1c0"},"labelIndex":0,"zIndex":6,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb8c64d2-6026-3425-98fe-9dbf5fbb8c16"},{"identifier":"523f127e-02cf-3d65-a62e-4a9c505fdcd4","instanceIdentifier":"290e48af-019f-1000-0000-00003464e582","name":"","source":{"id":"295541d6-2873-3df4-ffff-fffff47c5355","type":"PROCESSOR","groupId":"fb8c64d2-6026-3425-98fe-9dbf5fbb8c16","name":"Call EONET WEATHER API (10 MIN)","comments":"","instanceIdentifier":"eb2704a5-9c1f-31cc-a1a1-67e42fe46af8"},"destination":{"id":"57bd8d66-f561-312b-ffff-fffff47c5355","type":"PROCESSOR","groupId":"fb8c64d2-6026-3425-98fe-9dbf5fbb8c16","name":"InvokeHTTP","comments":"","instanceIdentifier":"536a21bb-5e5d-3fb0-a24d-6472665bd68b"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb8c64d2-6026-3425-98fe-9dbf5fbb8c16"},{"identifier":"05778486-243d-3830-a5df-89539b1695d6","instanceIdentifier":"2938b9dd-019f-1000-ffff-ffffe38c6c86","name":"","source":{"id":"3e5ec3ca-b9a0-368a-ffff-fffff47c5355","type":"PROCESSOR","groupId":"fb8c64d2-6026-3425-98fe-9dbf5fbb8c16","name":"Transform to PolyBolos","comments":"","instanceIdentifier":"38650f16-d126-38d3-916d-7e848b1a2789"},"destination":{"id":"916f96af-105e-32ee-b3f9-09a4fe165bef","type":"FUNNEL","groupId":"fb8c64d2-6026-3425-98fe-9dbf5fbb8c16","name":"Funnel","comments":"","instanceIdentifier":"2938265e-019f-1000-0000-000032d3c1c0"},"labelIndex":0,"zIndex":5,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb8c64d2-6026-3425-98fe-9dbf5fbb8c16"},{"identifier":"b5df4725-a3e7-3841-bd03-6c861fd1b3cc","instanceIdentifier":"2938448f-019f-1000-0000-00007ea1ccac","name":"","source":{"id":"57bd8d66-f561-312b-ffff-fffff47c5355","type":"PROCESSOR","groupId":"fb8c64d2-6026-3425-98fe-9dbf5fbb8c16","name":"InvokeHTTP","comments":"","instanceIdentifier":"536a21bb-5e5d-3fb0-a24d-6472665bd68b"},"destination":{"id":"916f96af-105e-32ee-b3f9-09a4fe165bef","type":"FUNNEL","groupId":"fb8c64d2-6026-3425-98fe-9dbf5fbb8c16","name":"Funnel","comments":"","instanceIdentifier":"2938265e-019f-1000-0000-000032d3c1c0"},"labelIndex":0,"zIndex":4,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"fb8c64d2-6026-3425-98fe-9dbf5fbb8c16"}],"labels":[],"funnels":[{"identifier":"916f96af-105e-32ee-b3f9-09a4fe165bef","instanceIdentifier":"2938265e-019f-1000-0000-000032d3c1c0","position":{"x":-832.0,"y":-152.0},"componentType":"FUNNEL","groupIdentifier":"fb8c64d2-6026-3425-98fe-9dbf5fbb8c16"}],"controllerServices":[{"identifier":"28d072d4-fa93-3728-8baf-21c527429091","instanceIdentifier":"293909ea-019f-1000-0000-0000377a263f","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"ack.wait.time":"5 sec","sasl.username":"cburns","max.poll.records":"10000","bootstrap.servers":"intelligence-service-kafka-corebroker0.se-sandb.a465-9q4k.cloudera.site:9093, intelligence-service-kafka-corebroker2.se-sandb.a465-9q4k.cloudera.site:9093, intelligence-service-kafka-corebroker1.se-sandb.a465-9q4k.cloudera.site:9093","sasl.kerberos.service.name":null,"security.protocol":"SASL_SSL","SSL Context Service":null,"sasl.mechanism":"PLAIN","isolation.level":"read_committed","oauth2-access-token-provider-service":null,"max.block.ms":"5 sec","kerberos-user-service":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider-service":{"name":"oauth2-access-token-provider-service","displayName":"OAuth2 Access Token Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.6.0.4.12.0.0-914"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"fb8c64d2-6026-3425-98fe-9dbf5fbb8c16"},{"identifier":"c6dd76cb-a516-3cd7-8223-413bb46f16ff","instanceIdentifier":"237050a7-019f-1000-ffff-ffffba72e6eb","name":"Default Truststore-only NiFi SSL Context Service","comments":"","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":null,"Truststore Filename":"/hadoopfs/fs4/working-dir/cm-auto-global_truststore.jks","Keystore Filename":null},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0.4.12.0.0-914"}},{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0.4.12.0.0-914"}},{"type":"org.apache.nifi.ssl.SSLContextProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0.4.12.0.0-914"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"290d7855-019f-1000-ffff-ffffcbc8ba24"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}