nifi/OSIRIS_-_Earthquakes_(USGS).json
{"flowContents":{"identifier":"387d4f26-22a7-3a2d-897e-254314432d86","instanceIdentifier":"24020b6a-019f-1000-ffff-ffff872588de","name":"OSIRIS_-_Earthquakes_(USGS)","comments":"","position":{"x":-512.0,"y":-344.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"b086155c-acf0-3fce-a413-4228ea67a6f3","instanceIdentifier":"f6b66760-8bd9-3fd1-82e5-a90d590d0130","name":"GET USGS GeoJSON","comments":"","position":{"x":608.0,"y":-80.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"30 sec","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/2.5_day.geojson","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"387d4f26-22a7-3a2d-897e-254314432d86"},{"identifier":"e1ceb6c8-046b-3d90-8787-b8a74926b122","instanceIdentifier":"66dbb468-0bee-31f8-bf5c-90f40b8ed79f","name":"Poll USGS (5 min)","comments":"","position":{"x":600.0,"y":-376.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"character-set":"UTF-8","File Size":"5B","mime-type":null,"generate-ff-custom-text":"USGS Request","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"500sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"387d4f26-22a7-3a2d-897e-254314432d86"},{"identifier":"a1e4b803-227b-3a35-a3bc-f960290365ba","instanceIdentifier":"b64663bb-bb33-34a8-962e-1a62bd004ad3","name":"PublishKafka","comments":"","position":{"x":616.0,"y":496.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"compression.type":"none","acks":"all","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"osiris-events","Kafka Key":null,"partition":null,"Kafka Connection Service":"58767275-c374-370b-a5bd-78206429cefa","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"true","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"387d4f26-22a7-3a2d-897e-254314432d86"},{"identifier":"199451af-bfd7-382d-b1fb-b545e13cf529","instanceIdentifier":"f155a674-4843-320e-88ec-b95a16a97ed4","name":"Transform to PolyBolos","comments":"","position":{"x":608.0,"y":200.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"/**\n * NiFi ExecuteScript — USGS earthquakes -> canonical osiris.entities Kafka messages.\n *\n * Input:  FlowFile body = raw USGS GeoJSON from InvokeHTTP\n * Output: One FlowFile per entity (JSON envelope matching flink/sql/kafka_to_lakehouse.sql)\n *\n * Script path inside container: /opt/nifi/conf/osiris/scripts/earthquakes-ingest.groovy\n *\n * PROVENANCE UPDATE:\n *   - Adds a per-entity trace_id (UUID) to the envelope AND as a flowfile attribute,\n *     giving an unbroken thread: Iceberg row -> trace_id -> NiFi provenance -> Kafka header.\n *   - Sets source.provider to the true origin ('USGS'), not the OSIRIS platform.\n *   - Captures the source request URL (from the upstream InvokeHTTP attribute) when present.\n */\nimport org.apache.commons.io.IOUtils\nimport groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\nimport java.time.Instant\nimport java.time.ZoneOffset\nimport java.time.format.DateTimeFormatter\n \ndef flowFile = session.get()\nif (!flowFile) return\n \ndef slurper = new JsonSlurper()\ndef raw = session.read(flowFile).text\ndef geojson = slurper.parseText(raw)\n \n// ── transform (usgs-earthquakes.groovy inlined for NiFi classloader simplicity) ──\ndef features = geojson?.features ?: []\ndef earthquakes = features.collect { f ->\n    def coords = f?.geometry?.coordinates ?: [0, 0, 0]\n    //def props = f?.properties ?: [:]\n    def props = (f?.get('properties')) ?: [:]\n    [\n        id       : f.id,\n        lat      : coords.size() > 1 ? coords[1] : null,\n        lng      : coords.size() > 0 ? coords[0] : null,\n        depth    : coords.size() > 2 ? coords[2] : null,\n        magnitude: props.mag,\n        place    : props.place,\n        time     : props.time,\n        url      : props.url,\n        tsunami  : props.tsunami,\n        type     : props.type,\n        felt     : props.felt,\n        alert    : props.alert,\n        updated  : props.updated,   // source-side last-modified (provenance)\n    ]\n}\n \ndef capturedAt = Instant.now().atOffset(ZoneOffset.UTC)\n    .format(DateTimeFormatter.ofPattern(\"yyyy-MM-dd'T'HH:mm:ss'Z'\"))\ndef ingestRunId = flowFile.getAttribute('ingest.run.id') ?: ('nifi-' + UUID.randomUUID().toString().take(12))\n \n// Provenance: the true data origin, the specific feed, and (if InvokeHTTP set it) the request URL.\ndef provider  = 'USGS'\ndef feed      = 'earthquakes'\ndef sourceUrl = flowFile.getAttribute('invokehttp.request.url') ?: 'https://earthquake.usgs.gov'\ndef emitted   = 0\n \nearthquakes.each { item ->\n    if (item.lat == null || item.lng == null) return\n \n    // Per-observation correlation id — the thread that ties this row across the whole pipeline.\n    def traceId = UUID.randomUUID().toString()\n \n    def eventTime = item.time ? Instant.ofEpochMilli(item.time as Long).atOffset(ZoneOffset.UTC)\n        .format(DateTimeFormatter.ofPattern(\"yyyy-MM-dd'T'HH:mm:ss'Z'\")) : capturedAt\n \n    def entity = [\n        id            : item.id?.toString(),\n        name          : item.place?.toString() ?: item.id?.toString(),\n        domain        : 'LAND',\n        entityType    : 'SEISMIC',\n        position      : [\n            lat: item.lat as Double,\n            lng: item.lng as Double,\n            alt: item.depth != null ? (item.depth as Double) : null,\n        ],\n        threat        : 'NONE',\n        classification: 'UNCLASSIFIED',\n        confidence    : 0.9,\n        timestamp     : eventTime,\n        source        : [\n            provider  : provider,          // was 'osiris' — now the true origin (USGS)\n            feed      : feed,\n            originalId: item.id?.toString(),\n            confidence: 0.9,\n            sourceUrl : sourceUrl,         // where this record was fetched from\n            updated   : item.updated,      // source-asserted last-modified epoch ms\n        ],\n        properties    : [\n            mag    : item.magnitude,\n            depth  : item.depth,\n            url    : item.url,\n            tsunami: item.tsunami,\n            alert  : item.alert,\n            felt   : item.felt,\n        ],\n    ]\n \n    def envelope = [\n        schema_version: 1,\n        trace_id      : traceId,           // NEW: top-level correlation id -> events_iceberg.trace_id\n        ingest_run_id : ingestRunId,\n        source        : feed,\n        captured_at   : capturedAt,\n        entity        : entity,\n    ]\n \n    def out = session.create(flowFile)\n    out = session.write(out, { outStream ->\n        outStream.write(JsonOutput.toJson(envelope).getBytes('UTF-8'))\n    } as OutputStreamCallback)\n    out = session.putAttribute(out, 'mime.type', 'application/json')\n    out = session.putAttribute(out, 'kafka.key', entity.id?.toString())\n    out = session.putAttribute(out, 'trace.id', traceId)   // NEW: attribute for NiFi provenance / Kafka header\n    session.transfer(out, REL_SUCCESS)\n    emitted++\n}\n \nif (emitted == 0) {\n    log.warn('No earthquake entities emitted from USGS payload')\n    session.transfer(flowFile, REL_FAILURE)\n} else {\n    log.info(\"Emitted ${emitted} earthquake entities to Kafka path\")\n    session.remove(flowFile)\n}","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"387d4f26-22a7-3a2d-897e-254314432d86"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"1a407737-1614-3d75-8a0e-da354d005ff8","instanceIdentifier":"b12cc70b-3ded-3eb4-b944-006d06a7119a","name":"","source":{"id":"e1ceb6c8-046b-3d90-8787-b8a74926b122","type":"PROCESSOR","groupId":"387d4f26-22a7-3a2d-897e-254314432d86","name":"Poll USGS (5 min)","comments":"","instanceIdentifier":"66dbb468-0bee-31f8-bf5c-90f40b8ed79f"},"destination":{"id":"b086155c-acf0-3fce-a413-4228ea67a6f3","type":"PROCESSOR","groupId":"387d4f26-22a7-3a2d-897e-254314432d86","name":"GET USGS GeoJSON","comments":"","instanceIdentifier":"f6b66760-8bd9-3fd1-82e5-a90d590d0130"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"387d4f26-22a7-3a2d-897e-254314432d86"},{"identifier":"a582071a-58b0-385f-89bd-e2abb41dd4c7","instanceIdentifier":"a3653be6-42e5-3bb0-9222-4f9a50b1b8d0","name":"","source":{"id":"b086155c-acf0-3fce-a413-4228ea67a6f3","type":"PROCESSOR","groupId":"387d4f26-22a7-3a2d-897e-254314432d86","name":"GET USGS GeoJSON","comments":"","instanceIdentifier":"f6b66760-8bd9-3fd1-82e5-a90d590d0130"},"destination":{"id":"0f5c2ab3-ff7f-3d29-9af6-6c2f242f9652","type":"FUNNEL","groupId":"387d4f26-22a7-3a2d-897e-254314432d86","name":"Funnel","comments":"","instanceIdentifier":"f36316f4-27b6-38bc-b93a-7231ed0dd27c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"387d4f26-22a7-3a2d-897e-254314432d86"},{"identifier":"128598f2-db5c-3572-8404-8c074bccfe23","instanceIdentifier":"06e03947-1c3d-3e88-b884-42ca1c3cfade","name":"","source":{"id":"199451af-bfd7-382d-b1fb-b545e13cf529","type":"PROCESSOR","groupId":"387d4f26-22a7-3a2d-897e-254314432d86","name":"Transform to PolyBolos","comments":"","instanceIdentifier":"f155a674-4843-320e-88ec-b95a16a97ed4"},"destination":{"id":"a1e4b803-227b-3a35-a3bc-f960290365ba","type":"PROCESSOR","groupId":"387d4f26-22a7-3a2d-897e-254314432d86","name":"PublishKafka","comments":"","instanceIdentifier":"b64663bb-bb33-34a8-962e-1a62bd004ad3"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"387d4f26-22a7-3a2d-897e-254314432d86"},{"identifier":"bdaca0f8-95a1-379b-a156-ec1a1016864f","instanceIdentifier":"58678950-3504-3709-91cb-fa2a923bb595","name":"","source":{"id":"199451af-bfd7-382d-b1fb-b545e13cf529","type":"PROCESSOR","groupId":"387d4f26-22a7-3a2d-897e-254314432d86","name":"Transform to PolyBolos","comments":"","instanceIdentifier":"f155a674-4843-320e-88ec-b95a16a97ed4"},"destination":{"id":"0f5c2ab3-ff7f-3d29-9af6-6c2f242f9652","type":"FUNNEL","groupId":"387d4f26-22a7-3a2d-897e-254314432d86","name":"Funnel","comments":"","instanceIdentifier":"f36316f4-27b6-38bc-b93a-7231ed0dd27c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"387d4f26-22a7-3a2d-897e-254314432d86"},{"identifier":"d95fd83a-50ea-315a-a629-f3a1d088e1ea","instanceIdentifier":"17aaea71-f56e-3c5c-be7e-88b258e2f698","name":"","source":{"id":"b086155c-acf0-3fce-a413-4228ea67a6f3","type":"PROCESSOR","groupId":"387d4f26-22a7-3a2d-897e-254314432d86","name":"GET USGS GeoJSON","comments":"","instanceIdentifier":"f6b66760-8bd9-3fd1-82e5-a90d590d0130"},"destination":{"id":"199451af-bfd7-382d-b1fb-b545e13cf529","type":"PROCESSOR","groupId":"387d4f26-22a7-3a2d-897e-254314432d86","name":"Transform to PolyBolos","comments":"","instanceIdentifier":"f155a674-4843-320e-88ec-b95a16a97ed4"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"387d4f26-22a7-3a2d-897e-254314432d86"},{"identifier":"ce28b27b-9556-34e7-ad6c-f67e851d84ab","instanceIdentifier":"584d6a70-b9b8-3ac6-9504-04fea12f508c","name":"","source":{"id":"a1e4b803-227b-3a35-a3bc-f960290365ba","type":"PROCESSOR","groupId":"387d4f26-22a7-3a2d-897e-254314432d86","name":"PublishKafka","comments":"","instanceIdentifier":"b64663bb-bb33-34a8-962e-1a62bd004ad3"},"destination":{"id":"0f5c2ab3-ff7f-3d29-9af6-6c2f242f9652","type":"FUNNEL","groupId":"387d4f26-22a7-3a2d-897e-254314432d86","name":"Funnel","comments":"","instanceIdentifier":"f36316f4-27b6-38bc-b93a-7231ed0dd27c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"387d4f26-22a7-3a2d-897e-254314432d86"}],"labels":[],"funnels":[{"identifier":"0f5c2ab3-ff7f-3d29-9af6-6c2f242f9652","instanceIdentifier":"f36316f4-27b6-38bc-b93a-7231ed0dd27c","position":{"x":0.0,"y":-48.0},"componentType":"FUNNEL","groupIdentifier":"387d4f26-22a7-3a2d-897e-254314432d86"}],"controllerServices":[{"identifier":"58767275-c374-370b-a5bd-78206429cefa","instanceIdentifier":"1f2a0be1-100e-3948-b2ac-e33564e3abb3","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"ack.wait.time":"5 sec","sasl.username":"cburns","max.poll.records":"10000","bootstrap.servers":"intelligence-service-kafka-corebroker0.se-sandb.a465-9q4k.cloudera.site:9093, intelligence-service-kafka-corebroker2.se-sandb.a465-9q4k.cloudera.site:9093, intelligence-service-kafka-corebroker1.se-sandb.a465-9q4k.cloudera.site:9093","sasl.kerberos.service.name":null,"security.protocol":"SASL_SSL","SSL Context Service":null,"sasl.mechanism":"PLAIN","isolation.level":"read_committed","oauth2-access-token-provider-service":null,"max.block.ms":"5 sec","kerberos-user-service":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider-service":{"name":"oauth2-access-token-provider-service","displayName":"OAuth2 Access Token Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.6.0.4.12.0.0-914"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"387d4f26-22a7-3a2d-897e-254314432d86"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}