nifi/OSIRIS_-_Vessels(aistream.io).json
{"flowContents":{"identifier":"67fdb92b-3398-332c-8ac2-0539a025bbd5","instanceIdentifier":"35a34b3a-019f-1000-0000-00003232d9f9","name":"OSIRIS_-_Vessels(aistream.io)","comments":"","position":{"x":-760.0,"y":304.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"bdceeb55-e93f-3063-0000-00001198148b","instanceIdentifier":"cd96f3ed-2bfe-3b39-b755-719c3bf456e4","name":"Transform to PolyBolos","comments":"","position":{"x":-400.0,"y":96.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"/**\n * NiFi ExecuteScript — aisstream.io AIS -> canonical osiris.entities Kafka messages.\n *\n * Input:  FlowFile body = one aisstream.io JSON message, as emitted by\n *         ConnectWebSocket (wss://stream.aisstream.io/v0/stream). Two message\n *         types are handled:\n *           - PositionReport : position + course/speed (MMSI-keyed, no IMO)\n *           - ShipStaticData : name, destination, dimensions, IMO (when non-zero)\n * Output: One FlowFile per vessel (envelope matching earthquakes-ingest.groovy).\n *\n * Script path inside container: /opt/nifi/conf/osiris/scripts/vessels-ingest.groovy\n *\n * Design (per demo decision):\n *   - Vessels are keyed on MMSI (always present) — this is entity.id / kafka.key.\n *     Position reports keep vessels moving on the canvas; no correlation state.\n *   - IMO is carried as a property ONLY when a ShipStaticData message has a\n *     non-zero ImoNumber. Many AIS vessels transmit IMO 0 (non-SOLAS craft) —\n *     those simply have no imo property and won't enrich. That's expected.\n *   - Enrichment (vessel -> graph by IMO) is best-effort: it fires for the subset\n *     of vessels that both broadcast a real IMO AND exist in the graph.\n *\n * Explicit f['key'] bracket access throughout (Groovy bean-accessor trap).\n * JsonOutput.toJson preserves numeric types.\n */\nimport groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\nimport java.time.Instant\nimport java.time.ZoneOffset\nimport java.time.format.DateTimeFormatter\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ndef slurper = new JsonSlurper()\ndef raw = session.read(flowFile).text\ndef msg\ntry {\n    msg = slurper.parseText(raw)\n} catch (Exception e) {\n    log.warn(\"Unparseable AIS message: ${e.message}\")\n    session.transfer(flowFile, REL_FAILURE)\n    return\n}\n\ndef msgType  = msg['MessageType']\ndef meta     = msg['MetaData'] ?: [:]\ndef message  = msg['Message'] ?: [:]\n\n// MMSI is the stable key, present in MetaData on every message type.\ndef mmsi = meta['MMSI']\nif (mmsi == null) {\n    // Nothing we can key on — drop quietly (not a failure, just unusable).\n    session.remove(flowFile)\n    return\n}\ndef mmsiStr = mmsi.toString()\n\n// Position lives in MetaData on both message types (convenient).\ndef lat = meta['latitude']\ndef lng = meta['longitude']\nif (lat == null || lng == null) {\n    session.remove(flowFile)\n    return\n}\n\n// Ship name: trim the fixed-width AIS padding.\ndef shipName = ((meta['ShipName'] ?: '') as String).trim()\n\n// ── type-specific fields ──\ndef props = [\n    mmsi     : mmsi,\n    msgType  : msgType,\n]\n\nif (msgType == 'PositionReport') {\n    def pr = message['PositionReport'] ?: [:]\n    props['cog']      = pr['Cog']                 // course over ground (deg)\n    props['sog']      = pr['Sog']                 // speed over ground (knots)\n    props['heading']  = pr['TrueHeading']         // true heading (deg)\n    props['navStatus']= pr['NavigationalStatus']\n} else if (msgType == 'ShipStaticData') {\n    def sd = message['ShipStaticData'] ?: [:]\n    if (!shipName) shipName = ((sd['Name'] ?: '') as String).trim()\n    props['callsign']    = ((sd['CallSign'] ?: '') as String).trim()\n    props['destination'] = ((sd['Destination'] ?: '') as String).trim()\n    props['shipType']    = sd['Type']             // AIS ship type code\n    props['draught']     = sd['MaximumStaticDraught']\n    // IMO — only carry it when it's a real (non-zero) number. This is the\n    // graph join key; absent/zero means the vessel won't enrich.\n    def imo = sd['ImoNumber']\n    if (imo != null && (imo as Long) > 0) {\n        props['imo'] = imo\n    }\n    // Dimensions -> overall length/width (A+B, C+D) if present.\n    def dim = sd['Dimension']\n    if (dim instanceof Map) {\n        def a = dim['A']; def b = dim['B']; def c = dim['C']; def d = dim['D']\n        if (a != null && b != null) props['length'] = (a as Integer) + (b as Integer)\n        if (c != null && d != null) props['width']  = (c as Integer) + (d as Integer)\n    }\n} else {\n    // Unhandled message type — drop quietly.\n    session.remove(flowFile)\n    return\n}\n\ndef capturedAt = Instant.now().atOffset(ZoneOffset.UTC)\n    .format(DateTimeFormatter.ofPattern(\"yyyy-MM-dd'T'HH:mm:ss'Z'\"))\ndef ingestRunId = flowFile.getAttribute('ingest.run.id') ?: ('nifi-' + UUID.randomUUID().toString().take(12))\n\ndef provider = 'aisstream.io'\ndef feed     = 'vessels'\ndef sourceUrl = flowFile.getAttribute('invokehttp.request.url') ?: 'wss://stream.aisstream.io/v0/stream'\n\ndef entity = [\n    id            : mmsiStr,\n    name          : shipName ?: mmsiStr,\n    domain        : 'SEA',\n    entityType    : 'VESSEL',\n    position      : [\n        lat: lat as Double,\n        lng: lng as Double,\n        alt: 0.0d,\n    ],\n    threat        : 'NONE',\n    classification: 'UNCLASSIFIED',\n    confidence    : 0.9,\n    timestamp     : capturedAt,\n    source        : [\n        provider  : provider,\n        feed      : feed,\n        originalId: mmsiStr,\n        confidence: 0.9,\n        sourceUrl : sourceUrl,\n    ],\n    properties    : props,\n]\n\ndef traceId = UUID.randomUUID().toString()\n\ndef envelope = [\n    schema_version: 1,\n    trace_id      : traceId,\n    ingest_run_id : ingestRunId,\n    source        : feed,\n    captured_at   : capturedAt,\n    entity        : entity,\n]\n\ndef out = session.create(flowFile)\nout = session.write(out, { outStream ->\n    outStream.write(JsonOutput.toJson(envelope).getBytes('UTF-8'))\n} as OutputStreamCallback)\nout = session.putAttribute(out, 'mime.type', 'application/json')\nout = session.putAttribute(out, 'kafka.key', mmsiStr)\nout = session.putAttribute(out, 'trace.id', traceId)\nsession.transfer(out, REL_SUCCESS)\nsession.remove(flowFile)\n","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"67fdb92b-3398-332c-8ac2-0539a025bbd5"},{"identifier":"076f2a61-09c9-3465-829f-2fcc3ee641f4","instanceIdentifier":"35a3f40d-019f-1000-ffff-ffff83ff26b5","name":"Connect to AISTREAM.IO","comments":"","position":{"x":-1048.0,"y":-360.0},"type":"org.apache.nifi.processors.websocket.ConnectWebSocket","bundle":{"group":"org.apache.nifi","artifact":"nifi-websocket-processors-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"websocket-client-controller-service":"faca5e63-5054-30f7-93ad-6a53a98116d1","websocket-client-id":"Osiris-AIS"},"propertyDescriptors":{"websocket-client-controller-service":{"name":"websocket-client-controller-service","displayName":"WebSocket Client ControllerService","identifiesControllerService":true,"sensitive":false,"dynamic":false},"websocket-client-id":{"name":"websocket-client-id","displayName":"WebSocket Client Id","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["disconnected","success","text message"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"67fdb92b-3398-332c-8ac2-0539a025bbd5"},{"identifier":"12b2e953-7fe4-3160-9699-91e4e529fbd7","instanceIdentifier":"35ae67f0-019f-1000-0000-00006c5a9dd9","name":"ReplaceText","comments":"","position":{"x":-416.0,"y":-352.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\"APIKey\":\"942c2482ff2e85df803e4951bd9ba8a978eb74d8\",\"BoundingBoxes\":[[[-90,-180],[90,180]]],\"FilterMessageTypes\":[\"PositionReport\",\"ShipStaticData\"]}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"67fdb92b-3398-332c-8ac2-0539a025bbd5"},{"identifier":"ba0afc75-6d16-3d11-a828-4cf5b4f57d10","instanceIdentifier":"35a414d0-019f-1000-0000-00005493bb6c","name":"PutWebSocket","comments":"","position":{"x":200.0,"y":-352.0},"type":"org.apache.nifi.processors.websocket.PutWebSocket","bundle":{"group":"org.apache.nifi","artifact":"nifi-websocket-processors-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"websocket-session-id":"${websocket.session.id}","websocket-controller-service-id":"${websocket.controller.service.id}","websocket-message-type":"TEXT","websocket-endpoint-id":"${websocket.endpoint.id}"},"propertyDescriptors":{"websocket-session-id":{"name":"websocket-session-id","displayName":"WebSocket Session Id","identifiesControllerService":false,"sensitive":false,"dynamic":false},"websocket-controller-service-id":{"name":"websocket-controller-service-id","displayName":"WebSocket ControllerService Id","identifiesControllerService":false,"sensitive":false,"dynamic":false},"websocket-message-type":{"name":"websocket-message-type","displayName":"WebSocket Message Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"websocket-endpoint-id":{"name":"websocket-endpoint-id","displayName":"WebSocket Endpoint Id","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"67fdb92b-3398-332c-8ac2-0539a025bbd5"},{"identifier":"ee47eb11-f2c8-39ad-0000-00001198148b","instanceIdentifier":"448c0394-01df-3247-8df7-e373e9ed3613","name":"PublishKafka","comments":"","position":{"x":-384.0,"y":488.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"compression.type":"none","acks":"all","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"osiris-events","Kafka Key":null,"partition":null,"Kafka Connection Service":"1d0b7e45-d0e3-318c-adf1-588a05eb5cce","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"true","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"67fdb92b-3398-332c-8ac2-0539a025bbd5"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"e264a928-2e25-3573-982c-8dd9d00f4ade","instanceIdentifier":"35a8cb0c-019f-1000-0000-0000676af071","name":"","source":{"id":"bdceeb55-e93f-3063-0000-00001198148b","type":"PROCESSOR","groupId":"67fdb92b-3398-332c-8ac2-0539a025bbd5","name":"Transform to PolyBolos","comments":"","instanceIdentifier":"cd96f3ed-2bfe-3b39-b755-719c3bf456e4"},"destination":{"id":"7cabcc1f-d73d-3369-a874-258cd976e4a1","type":"FUNNEL","groupId":"67fdb92b-3398-332c-8ac2-0539a025bbd5","name":"Funnel","comments":"","instanceIdentifier":"35a52a73-019f-1000-0000-000003ae6c61"},"labelIndex":0,"zIndex":5,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67fdb92b-3398-332c-8ac2-0539a025bbd5"},{"identifier":"a50b256d-110b-3b82-913d-f1138b60336f","instanceIdentifier":"35a8ad3a-019f-1000-ffff-ffffb70c901b","name":"","source":{"id":"bdceeb55-e93f-3063-0000-00001198148b","type":"PROCESSOR","groupId":"67fdb92b-3398-332c-8ac2-0539a025bbd5","name":"Transform to PolyBolos","comments":"","instanceIdentifier":"cd96f3ed-2bfe-3b39-b755-719c3bf456e4"},"destination":{"id":"ee47eb11-f2c8-39ad-0000-00001198148b","type":"PROCESSOR","groupId":"67fdb92b-3398-332c-8ac2-0539a025bbd5","name":"PublishKafka","comments":"","instanceIdentifier":"448c0394-01df-3247-8df7-e373e9ed3613"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67fdb92b-3398-332c-8ac2-0539a025bbd5"},{"identifier":"1f79b1ac-b630-3132-b480-21591653ed23","instanceIdentifier":"35ab5152-019f-1000-ffff-ffffd9c524c9","name":"","source":{"id":"ee47eb11-f2c8-39ad-0000-00001198148b","type":"PROCESSOR","groupId":"67fdb92b-3398-332c-8ac2-0539a025bbd5","name":"PublishKafka","comments":"","instanceIdentifier":"448c0394-01df-3247-8df7-e373e9ed3613"},"destination":{"id":"7cabcc1f-d73d-3369-a874-258cd976e4a1","type":"FUNNEL","groupId":"67fdb92b-3398-332c-8ac2-0539a025bbd5","name":"Funnel","comments":"","instanceIdentifier":"35a52a73-019f-1000-0000-000003ae6c61"},"labelIndex":0,"zIndex":7,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67fdb92b-3398-332c-8ac2-0539a025bbd5"},{"identifier":"65fc3e12-1a49-3e12-97a0-09a540229df8","instanceIdentifier":"35c5d901-019f-1000-ffff-ffff86b6c317","name":"","source":{"id":"12b2e953-7fe4-3160-9699-91e4e529fbd7","type":"PROCESSOR","groupId":"67fdb92b-3398-332c-8ac2-0539a025bbd5","name":"ReplaceText","comments":"","instanceIdentifier":"35ae67f0-019f-1000-0000-00006c5a9dd9"},"destination":{"id":"7cabcc1f-d73d-3369-a874-258cd976e4a1","type":"FUNNEL","groupId":"67fdb92b-3398-332c-8ac2-0539a025bbd5","name":"Funnel","comments":"","instanceIdentifier":"35a52a73-019f-1000-0000-000003ae6c61"},"labelIndex":0,"zIndex":14,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67fdb92b-3398-332c-8ac2-0539a025bbd5"},{"identifier":"de1424e7-b046-3ef2-9d9a-54879f8a2a53","instanceIdentifier":"35c6414f-019f-1000-0000-00005a04ddcf","name":"","source":{"id":"076f2a61-09c9-3465-829f-2fcc3ee641f4","type":"PROCESSOR","groupId":"67fdb92b-3398-332c-8ac2-0539a025bbd5","name":"Connect to AISTREAM.IO","comments":"","instanceIdentifier":"35a3f40d-019f-1000-ffff-ffff83ff26b5"},"destination":{"id":"bdceeb55-e93f-3063-0000-00001198148b","type":"PROCESSOR","groupId":"67fdb92b-3398-332c-8ac2-0539a025bbd5","name":"Transform to PolyBolos","comments":"","instanceIdentifier":"cd96f3ed-2bfe-3b39-b755-719c3bf456e4"},"labelIndex":0,"zIndex":15,"selectedRelationships":["binary message"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67fdb92b-3398-332c-8ac2-0539a025bbd5"},{"identifier":"4b8ed0f7-2b44-35ec-b548-c555e8ed0e41","instanceIdentifier":"35af1eb6-019f-1000-ffff-ffffca9d2d9c","name":"","source":{"id":"12b2e953-7fe4-3160-9699-91e4e529fbd7","type":"PROCESSOR","groupId":"67fdb92b-3398-332c-8ac2-0539a025bbd5","name":"ReplaceText","comments":"","instanceIdentifier":"35ae67f0-019f-1000-0000-00006c5a9dd9"},"destination":{"id":"ba0afc75-6d16-3d11-a828-4cf5b4f57d10","type":"PROCESSOR","groupId":"67fdb92b-3398-332c-8ac2-0539a025bbd5","name":"PutWebSocket","comments":"","instanceIdentifier":"35a414d0-019f-1000-0000-00005493bb6c"},"labelIndex":0,"zIndex":9,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67fdb92b-3398-332c-8ac2-0539a025bbd5"},{"identifier":"76b118e1-e0b5-3fd7-a952-b36c065f272c","instanceIdentifier":"35af0704-019f-1000-ffff-ffffb66f7417","name":"","source":{"id":"076f2a61-09c9-3465-829f-2fcc3ee641f4","type":"PROCESSOR","groupId":"67fdb92b-3398-332c-8ac2-0539a025bbd5","name":"Connect to AISTREAM.IO","comments":"","instanceIdentifier":"35a3f40d-019f-1000-ffff-ffff83ff26b5"},"destination":{"id":"12b2e953-7fe4-3160-9699-91e4e529fbd7","type":"PROCESSOR","groupId":"67fdb92b-3398-332c-8ac2-0539a025bbd5","name":"ReplaceText","comments":"","instanceIdentifier":"35ae67f0-019f-1000-0000-00006c5a9dd9"},"labelIndex":0,"zIndex":8,"selectedRelationships":["connected"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67fdb92b-3398-332c-8ac2-0539a025bbd5"},{"identifier":"44f6c41a-6f04-3a3f-9a08-ace349be64a0","instanceIdentifier":"35a8de83-019f-1000-ffff-ffffc2b6efae","name":"","source":{"id":"ba0afc75-6d16-3d11-a828-4cf5b4f57d10","type":"PROCESSOR","groupId":"67fdb92b-3398-332c-8ac2-0539a025bbd5","name":"PutWebSocket","comments":"","instanceIdentifier":"35a414d0-019f-1000-0000-00005493bb6c"},"destination":{"id":"7cabcc1f-d73d-3369-a874-258cd976e4a1","type":"FUNNEL","groupId":"67fdb92b-3398-332c-8ac2-0539a025bbd5","name":"Funnel","comments":"","instanceIdentifier":"35a52a73-019f-1000-0000-000003ae6c61"},"labelIndex":0,"zIndex":6,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67fdb92b-3398-332c-8ac2-0539a025bbd5"},{"identifier":"b139dde1-921c-3535-b39d-4ab7220036a9","instanceIdentifier":"35a548e3-019f-1000-0000-00000c7b25d4","name":"","source":{"id":"076f2a61-09c9-3465-829f-2fcc3ee641f4","type":"PROCESSOR","groupId":"67fdb92b-3398-332c-8ac2-0539a025bbd5","name":"Connect to AISTREAM.IO","comments":"","instanceIdentifier":"35a3f40d-019f-1000-ffff-ffff83ff26b5"},"destination":{"id":"7cabcc1f-d73d-3369-a874-258cd976e4a1","type":"FUNNEL","groupId":"67fdb92b-3398-332c-8ac2-0539a025bbd5","name":"Funnel","comments":"","instanceIdentifier":"35a52a73-019f-1000-0000-000003ae6c61"},"labelIndex":0,"zIndex":2,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"67fdb92b-3398-332c-8ac2-0539a025bbd5"}],"labels":[],"funnels":[{"identifier":"7cabcc1f-d73d-3369-a874-258cd976e4a1","instanceIdentifier":"35a52a73-019f-1000-0000-000003ae6c61","position":{"x":-928.0,"y":176.0},"componentType":"FUNNEL","groupIdentifier":"67fdb92b-3398-332c-8ac2-0539a025bbd5"}],"controllerServices":[{"identifier":"1d0b7e45-d0e3-318c-adf1-588a05eb5cce","instanceIdentifier":"35a95070-019f-1000-0000-00000980f84f","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"ack.wait.time":"5 sec","sasl.username":"cburns","max.poll.records":"10000","bootstrap.servers":"intelligence-service-kafka-corebroker0.se-sandb.a465-9q4k.cloudera.site:9093, intelligence-service-kafka-corebroker2.se-sandb.a465-9q4k.cloudera.site:9093, intelligence-service-kafka-corebroker1.se-sandb.a465-9q4k.cloudera.site:9093","sasl.kerberos.service.name":null,"security.protocol":"SASL_SSL","SSL Context Service":null,"sasl.mechanism":"PLAIN","isolation.level":"read_committed","oauth2-access-token-provider-service":null,"max.block.ms":"5 sec","kerberos-user-service":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider-service":{"name":"oauth2-access-token-provider-service","displayName":"OAuth2 Access Token Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.6.0.4.12.0.0-914"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"67fdb92b-3398-332c-8ac2-0539a025bbd5"},{"identifier":"faca5e63-5054-30f7-93ad-6a53a98116d1","instanceIdentifier":"35a48d60-019f-1000-0000-00006d6f906f","name":"JettyWebSocketClient","comments":"","type":"org.apache.nifi.websocket.jetty.JettyWebSocketClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-websocket-services-jetty-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"Max Binary Message Size":"64 kb","Connection Attempt Count":"3","Connection Timeout":"3 sec","Idle Timeout":"0 sec","SSL Context Service":null,"WebSocket URI":"wss://stream.aisstream.io/v0/stream","Username":null,"HTTP Proxy Port":null,"Input Buffer Size":"4 kb","HTTP Proxy Host":null,"Session Maintenance Interval":"10 sec","Max Text Message Size":"64 kb","Authentication Header Charset":"US-ASCII"},"propertyDescriptors":{"Custom Authorization":{"name":"Custom Authorization","displayName":"Custom Authorization","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Max Binary Message Size":{"name":"Max Binary Message Size","displayName":"Max Binary Message Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Attempt Count":{"name":"Connection Attempt Count","displayName":"Connection Attempt Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Idle Timeout":{"name":"Idle Timeout","displayName":"Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"WebSocket URI":{"name":"WebSocket URI","displayName":"WebSocket URI","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Proxy Port":{"name":"HTTP Proxy Port","displayName":"HTTP Proxy Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Buffer Size":{"name":"Input Buffer Size","displayName":"Input Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Proxy Host":{"name":"HTTP Proxy Host","displayName":"HTTP Proxy Host","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Session Maintenance Interval":{"name":"Session Maintenance Interval","displayName":"Session Maintenance Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Text Message Size":{"name":"Max Text Message Size","displayName":"Max Text Message Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Authentication Header Charset":{"name":"Authentication Header Charset","displayName":"Authentication Header Charset","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.websocket.WebSocketClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-websocket-services-api-nar","version":"2.6.0.4.12.0.0-914"}},{"type":"org.apache.nifi.websocket.WebSocketService","bundle":{"group":"org.apache.nifi","artifact":"nifi-websocket-services-api-nar","version":"2.6.0.4.12.0.0-914"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"67fdb92b-3398-332c-8ac2-0539a025bbd5"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}