nifi/OSIRIS_-_WEATHER_NWS.json
{"flowContents":{"identifier":"9570863a-e777-322a-934d-1b96d48aa303","instanceIdentifier":"2944078e-019f-1000-0000-00004c5ea564","name":"OSIRIS_-_WEATHER_NWS","comments":"","position":{"x":512.0,"y":-344.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"71b376a4-6906-383d-ffff-ffff8f7c0b2c","instanceIdentifier":"967799da-56ad-38e6-85a0-2718eadb9496","name":"Call NWS WEATHER API (10 MIN)","comments":"","position":{"x":16.0,"y":-840.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"10 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9570863a-e777-322a-934d-1b96d48aa303"},{"identifier":"f4347e32-d577-3743-ffff-ffff8f7c0b2c","instanceIdentifier":"8aa62742-4905-3fa2-ab5e-ddac2efbcf18","name":"PublishKafka","comments":"","position":{"x":16.000030335676342,"y":-144.00000312260886},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"compression.type":"none","acks":"all","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"osiris-events","Kafka Key":null,"partition":null,"Kafka Connection Service":"a4645c3d-db54-3cd3-9030-4a86840f39ad","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"true","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9570863a-e777-322a-934d-1b96d48aa303"},{"identifier":"892df521-a016-309e-ffff-ffff8f7c0b2c","instanceIdentifier":"c444ff95-a004-352e-b279-b97c0e9386f3","name":"InvokeHTTP","comments":"","position":{"x":8.000030335676342,"y":-600.0000031226089},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://api.weather.gov/alerts/active?status=actual&message_type=alert","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Accept":"application/geo+json","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":"c6dd76cb-a516-3cd7-8223-413bb46f16ff","Response Generation Required":"false","Request User-Agent":"OSIRIS SEVERE WEATHER LAYER","Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Accept":{"name":"Accept","displayName":"Accept","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9570863a-e777-322a-934d-1b96d48aa303"},{"identifier":"1fe2250d-1ce7-37ea-ffff-ffff8f7c0b2c","instanceIdentifier":"fa176301-5c99-32c0-a178-f09e92f2e3e5","name":"Transform to PolyBolos","comments":"","position":{"x":16.000030335676342,"y":-368.00000312260886},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"/**\n * NiFi ExecuteScript — NOAA/NWS active alerts -> canonical osiris-events Kafka messages.\n *\n * Input:  FlowFile body = NWS GeoJSON from InvokeHTTP\n *         (https://api.weather.gov/alerts/active?status=actual&message_type=alert\n *          — set InvokeHTTP request headers: Accept: application/geo+json,\n *          User-Agent: \"OSIRIS Severe Weather Layer\"; NWS rejects UA-less requests)\n * Output: One FlowFile per WEATHER entity.\n *\n * Mirrors the NWS branch of src/app/api/weather/route.ts: representative point\n * from Point/Polygon/MultiPolygon geometry, Extreme|Severe->high /\n * Moderate->medium / else low severity.\n *\n * NOTE (CFM/Groovy): NWS GeoJSON features have a \"properties\" key — ALWAYS use\n * f['properties'], never f.properties (bean-accessor trap on older Groovy).\n */\nimport org.apache.commons.io.IOUtils\nimport groovy.json.JsonSlurper\nimport groovy.json.JsonOutput\nimport java.time.Instant\nimport java.time.ZoneOffset\nimport java.time.format.DateTimeFormatter\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ndef slurper = new JsonSlurper()\ndef raw = session.read(flowFile).text\ndef data = slurper.parseText(raw)\n\ndef capturedAt = Instant.now().atOffset(ZoneOffset.UTC)\n    .format(DateTimeFormatter.ofPattern(\"yyyy-MM-dd'T'HH:mm:ss'Z'\"))\ndef ingestRunId = flowFile.getAttribute('ingest.run.id') ?: ('nifi-' + UUID.randomUUID().toString().take(12))\ndef sourceUrl = flowFile.getAttribute('invokehttp.request.url') ?: 'https://api.weather.gov/alerts/active'\ndef emitted = 0\n\n// Average of a ring of [lng, lat] pairs -> [lat, lng], mirroring averageCoordinates().\ndef avgCoords = { List ring ->\n    if (!ring) return null\n    double lat = 0d, lng = 0d\n    ring.each { c -> lng += (c[0] as Double); lat += (c[1] as Double) }\n    [lat / ring.size(), lng / ring.size()]\n}\n\n// Point / Polygon(first ring) / MultiPolygon(first poly, first ring) -> [lat, lng].\ndef repPoint = { Map geom ->\n    if (!geom) return null\n    def coords = geom['coordinates']\n    if (geom['type'] == 'Point' && coords)        return [coords[1] as Double, coords[0] as Double]\n    if (geom['type'] == 'Polygon')                return avgCoords(coords ? coords[0] : null)\n    if (geom['type'] == 'MultiPolygon')           return avgCoords((coords && coords[0]) ? coords[0][0] : null)\n    return null\n}\n\ndef normalizeSeverity = { String s ->\n    if (s == 'Extreme' || s == 'Severe') return 'high'\n    if (s == 'Moderate') return 'medium'\n    return 'low'\n}\n\n(data['features'] ?: []).each { f ->\n    def props = f['properties'] ?: [:]           // explicit key access — see header note\n    def pt = repPoint(f['geometry'] as Map)\n    if (pt == null) return\n    def (lat, lng) = pt\n\n    def alertId   = props['id'] ?: props['@id'] ?: props['event'] ?: lat.toString()\n    def entityId  = \"nws-${alertId}\".toString()\n    def title     = props['headline'] ?: props['event'] ?: 'NWS Weather Alert'\n    def eventDate = props['effective'] ?: props['sent'] ?: capturedAt\n    def traceId   = UUID.randomUUID().toString()\n\n    def entity = [\n        id            : entityId,\n        name          : title.toString(),\n        domain        : 'AIR',\n        entityType    : 'WEATHER',\n        position      : [lat: lat, lng: lng, alt: null],\n        threat        : 'NONE',\n        classification: 'UNCLASSIFIED',\n        confidence    : 0.9,\n        timestamp     : eventDate,\n        source        : [\n            provider  : 'NOAA/NWS',\n            feed      : 'weather',\n            originalId: alertId.toString(),\n            confidence: 0.9,\n            sourceUrl : sourceUrl,\n            updated   : null,\n        ],\n        properties    : [\n            title    : title,\n            category : 'weatherAlerts',\n            wxtype   : props['event'] ?: 'Weather Alert',\n            icon     : 'weather',\n            severity : normalizeSeverity(props['severity'] as String),\n            date     : eventDate,\n            expires  : props['expires'],\n            area     : props['areaDesc'],\n            eventSrc : props['@id'] ?: 'https://api.weather.gov/alerts/active',\n            provider : 'NOAA/NWS',\n        ],\n    ]\n\n    def envelope = [\n        schema_version: 1,\n        trace_id      : traceId,\n        ingest_run_id : ingestRunId,\n        source        : 'weather',\n        captured_at   : capturedAt,\n        entity        : entity,\n    ]\n\n    def out = session.create(flowFile)\n    out = session.write(out, { outStream ->\n        outStream.write(JsonOutput.toJson(envelope).getBytes('UTF-8'))\n    } as OutputStreamCallback)\n    out = session.putAttribute(out, 'mime.type', 'application/json')\n    out = session.putAttribute(out, 'kafka.key', entityId)\n    out = session.putAttribute(out, 'trace.id', traceId)\n    session.transfer(out, REL_SUCCESS)\n    emitted++\n}\n\nif (emitted == 0) {\n    log.warn('No NWS alert entities emitted')\n    session.transfer(flowFile, REL_FAILURE)\n} else {\n    log.info(\"Emitted ${emitted} NWS weather entities to Kafka path\")\n    session.remove(flowFile)\n}","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"9570863a-e777-322a-934d-1b96d48aa303"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"de87448a-77cf-368b-8739-44a5b81a68da","instanceIdentifier":"29461303-019f-1000-0000-00006053a585","name":"","source":{"id":"71b376a4-6906-383d-ffff-ffff8f7c0b2c","type":"PROCESSOR","groupId":"9570863a-e777-322a-934d-1b96d48aa303","name":"Call NWS WEATHER API (10 MIN)","comments":"","instanceIdentifier":"967799da-56ad-38e6-85a0-2718eadb9496"},"destination":{"id":"892df521-a016-309e-ffff-ffff8f7c0b2c","type":"PROCESSOR","groupId":"9570863a-e777-322a-934d-1b96d48aa303","name":"InvokeHTTP","comments":"","instanceIdentifier":"c444ff95-a004-352e-b279-b97c0e9386f3"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9570863a-e777-322a-934d-1b96d48aa303"},{"identifier":"bcf3e918-5c8c-3338-8cdb-ef3e6e9118a7","instanceIdentifier":"29462694-019f-1000-0000-000027ccad50","name":"","source":{"id":"892df521-a016-309e-ffff-ffff8f7c0b2c","type":"PROCESSOR","groupId":"9570863a-e777-322a-934d-1b96d48aa303","name":"InvokeHTTP","comments":"","instanceIdentifier":"c444ff95-a004-352e-b279-b97c0e9386f3"},"destination":{"id":"1fe2250d-1ce7-37ea-ffff-ffff8f7c0b2c","type":"PROCESSOR","groupId":"9570863a-e777-322a-934d-1b96d48aa303","name":"Transform to PolyBolos","comments":"","instanceIdentifier":"fa176301-5c99-32c0-a178-f09e92f2e3e5"},"labelIndex":0,"zIndex":4,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9570863a-e777-322a-934d-1b96d48aa303"},{"identifier":"6b59e562-57aa-3c9e-8264-a8751c7da27c","instanceIdentifier":"29460627-019f-1000-0000-000075934e05","name":"","source":{"id":"1fe2250d-1ce7-37ea-ffff-ffff8f7c0b2c","type":"PROCESSOR","groupId":"9570863a-e777-322a-934d-1b96d48aa303","name":"Transform to PolyBolos","comments":"","instanceIdentifier":"fa176301-5c99-32c0-a178-f09e92f2e3e5"},"destination":{"id":"0b72c3d9-277f-335c-a633-ec9ab546ee1c","type":"FUNNEL","groupId":"9570863a-e777-322a-934d-1b96d48aa303","name":"Funnel","comments":"","instanceIdentifier":"2945d958-019f-1000-0000-00004bed7865"},"labelIndex":0,"zIndex":2,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9570863a-e777-322a-934d-1b96d48aa303"},{"identifier":"96b07012-3293-3f5e-97de-2282998b24de","instanceIdentifier":"29463aba-019f-1000-0000-00005c383e6f","name":"","source":{"id":"1fe2250d-1ce7-37ea-ffff-ffff8f7c0b2c","type":"PROCESSOR","groupId":"9570863a-e777-322a-934d-1b96d48aa303","name":"Transform to PolyBolos","comments":"","instanceIdentifier":"fa176301-5c99-32c0-a178-f09e92f2e3e5"},"destination":{"id":"f4347e32-d577-3743-ffff-ffff8f7c0b2c","type":"PROCESSOR","groupId":"9570863a-e777-322a-934d-1b96d48aa303","name":"PublishKafka","comments":"","instanceIdentifier":"8aa62742-4905-3fa2-ab5e-ddac2efbcf18"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9570863a-e777-322a-934d-1b96d48aa303"},{"identifier":"a85f84f8-4329-3277-92e1-f877f5f1ef38","instanceIdentifier":"29464a84-019f-1000-0000-0000763a136a","name":"","source":{"id":"f4347e32-d577-3743-ffff-ffff8f7c0b2c","type":"PROCESSOR","groupId":"9570863a-e777-322a-934d-1b96d48aa303","name":"PublishKafka","comments":"","instanceIdentifier":"8aa62742-4905-3fa2-ab5e-ddac2efbcf18"},"destination":{"id":"0b72c3d9-277f-335c-a633-ec9ab546ee1c","type":"FUNNEL","groupId":"9570863a-e777-322a-934d-1b96d48aa303","name":"Funnel","comments":"","instanceIdentifier":"2945d958-019f-1000-0000-00004bed7865"},"labelIndex":0,"zIndex":6,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9570863a-e777-322a-934d-1b96d48aa303"},{"identifier":"79709c04-c901-3ae1-91a3-8dd7b282d7ea","instanceIdentifier":"2945eddc-019f-1000-0000-00007b89f2fc","name":"","source":{"id":"892df521-a016-309e-ffff-ffff8f7c0b2c","type":"PROCESSOR","groupId":"9570863a-e777-322a-934d-1b96d48aa303","name":"InvokeHTTP","comments":"","instanceIdentifier":"c444ff95-a004-352e-b279-b97c0e9386f3"},"destination":{"id":"0b72c3d9-277f-335c-a633-ec9ab546ee1c","type":"FUNNEL","groupId":"9570863a-e777-322a-934d-1b96d48aa303","name":"Funnel","comments":"","instanceIdentifier":"2945d958-019f-1000-0000-00004bed7865"},"labelIndex":0,"zIndex":1,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9570863a-e777-322a-934d-1b96d48aa303"}],"labels":[],"funnels":[{"identifier":"0b72c3d9-277f-335c-a633-ec9ab546ee1c","instanceIdentifier":"2945d958-019f-1000-0000-00004bed7865","position":{"x":-512.0,"y":-392.0},"componentType":"FUNNEL","groupIdentifier":"9570863a-e777-322a-934d-1b96d48aa303"}],"controllerServices":[{"identifier":"c6dd76cb-a516-3cd7-8223-413bb46f16ff","instanceIdentifier":"237050a7-019f-1000-ffff-ffffba72e6eb","name":"Default Truststore-only NiFi SSL Context Service","comments":"","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":null,"Truststore Filename":"/hadoopfs/fs4/working-dir/cm-auto-global_truststore.jks","Keystore Filename":null},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0.4.12.0.0-914"}},{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0.4.12.0.0-914"}},{"type":"org.apache.nifi.ssl.SSLContextProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.6.0.4.12.0.0-914"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"2944078e-019f-1000-0000-00004c5ea564"},{"identifier":"a4645c3d-db54-3cd3-9030-4a86840f39ad","instanceIdentifier":"29469acf-019f-1000-ffff-ffffa0e4a9a7","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"ack.wait.time":"5 sec","sasl.username":"cburns","max.poll.records":"10000","bootstrap.servers":"intelligence-service-kafka-corebroker0.se-sandb.a465-9q4k.cloudera.site:9093, intelligence-service-kafka-corebroker2.se-sandb.a465-9q4k.cloudera.site:9093, intelligence-service-kafka-corebroker1.se-sandb.a465-9q4k.cloudera.site:9093","sasl.kerberos.service.name":null,"security.protocol":"SASL_SSL","SSL Context Service":null,"sasl.mechanism":"PLAIN","isolation.level":"read_committed","oauth2-access-token-provider-service":null,"max.block.ms":"5 sec","kerberos-user-service":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider-service":{"name":"oauth2-access-token-provider-service","displayName":"OAuth2 Access Token Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.6.0.4.12.0.0-914"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"9570863a-e777-322a-934d-1b96d48aa303"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}