nifi/OSIRIS_-_Fires_(NASA-FIRMS).json
{"flowContents":{"identifier":"7ecfd06b-b44c-35b6-8eeb-6cfd95bab7fc","instanceIdentifier":"28f81f8d-019f-1000-0000-0000778f91e1","name":"OSIRIS_-_Fires_(NASA-FIRMS)","comments":"","position":{"x":-96.0,"y":-344.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"4e11b2d4-4474-3a9f-ffff-ffffe349d4d8","instanceIdentifier":"6306688e-dd3b-3082-8bee-dee1efebabd6","name":"Transform to PolyBolos","comments":"","position":{"x":-240.0,"y":208.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"/**\n * NiFi ExecuteScript — NASA FIRMS active-fire CSV -> canonical osiris-events Kafka messages.\n *\n * Input:  FlowFile body = FIRMS Global 24h CSV (VIIRS or MODIS) from InvokeHTTP\n * Output: One FlowFile per fire entity (canonical envelope, entityType FIRE)\n *\n * Mirrors src/app/api/fires/route.ts parseCSV(): handles both VIIRS (bright_ti4)\n * and MODIS (brightness) headers, samples down to ~MAX_POINTS rows to match the\n * direct-API behavior, rounds coords to 3 decimals.\n *\n * NOTE (CFM/Groovy): always use explicit map key access — f['properties'] style —\n * never .properties, which older Groovy resolves to the bean accessor.\n */\nimport org.apache.commons.io.IOUtils\nimport groovy.json.JsonOutput\nimport java.time.Instant\nimport java.time.ZoneOffset\nimport java.time.format.DateTimeFormatter\n\nfinal int MAX_POINTS = 2000\n\ndef flowFile = session.get()\nif (!flowFile) return\n\ndef raw = session.read(flowFile).text\ndef lines = raw.trim().split('\\n')\nif (lines.length < 2) {\n    log.warn('FIRMS CSV empty or header-only')\n    session.transfer(flowFile, REL_FAILURE)\n    return\n}\n\ndef header = lines[0].split(',')*.trim()\ndef latIdx    = header.indexOf('latitude')\ndef lngIdx    = header.indexOf('longitude')\ndef brightIdx = header.indexOf('bright_ti4') != -1 ? header.indexOf('bright_ti4') : header.indexOf('brightness')\ndef confIdx   = header.indexOf('confidence')\ndef dateIdx   = header.indexOf('acq_date')\ndef timeIdx   = header.indexOf('acq_time')\ndef frpIdx    = header.indexOf('frp')\ndef satIdx    = header.indexOf('satellite')\n\nif (latIdx == -1 || lngIdx == -1) {\n    log.warn(\"FIRMS CSV missing lat/lng columns: ${header}\")\n    session.transfer(flowFile, REL_FAILURE)\n    return\n}\n\ndef capturedAt = Instant.now().atOffset(ZoneOffset.UTC)\n    .format(DateTimeFormatter.ofPattern(\"yyyy-MM-dd'T'HH:mm:ss'Z'\"))\ndef ingestRunId = flowFile.getAttribute('ingest.run.id') ?: ('nifi-' + UUID.randomUUID().toString().take(12))\ndef sourceUrl = flowFile.getAttribute('invokehttp.request.url') ?: 'https://firms.modaps.eosdis.nasa.gov'\ndef feedName  = sourceUrl.contains('SUOMI') || sourceUrl.contains('viirs')\n    ? 'NASA-FIRMS (VIIRS)' : 'NASA-FIRMS (MODIS)'\n\n// Sample: every Nth row so we emit at most ~MAX_POINTS (matches route.ts).\nint dataRows = lines.length - 1\nint step = dataRows > MAX_POINTS ? (int) Math.ceil(dataRows / (double) MAX_POINTS) : 1\ndef emitted = 0\n\nfor (int i = 1; i < lines.length; i += step) {\n    def cols = lines[i].split(',')\n    if (cols.length <= Math.max(latIdx, lngIdx)) continue\n    def lat = cols[latIdx]?.isDouble() ? (cols[latIdx] as Double) : null\n    def lng = cols[lngIdx]?.isDouble() ? (cols[lngIdx] as Double) : null\n    if (lat == null || lng == null) continue\n    lat = Math.round(lat * 1000d) / 1000d\n    lng = Math.round(lng * 1000d) / 1000d\n\n    def brightness = (brightIdx != -1 && cols.length > brightIdx && cols[brightIdx]?.isDouble()) ? (cols[brightIdx] as Double) : null\n    def frp        = (frpIdx    != -1 && cols.length > frpIdx    && cols[frpIdx]?.isDouble())    ? (cols[frpIdx] as Double)    : null\n    def confidence = (confIdx   != -1 && cols.length > confIdx) ? cols[confIdx]?.trim() : null\n    def acqDate    = (dateIdx   != -1 && cols.length > dateIdx) ? cols[dateIdx]?.trim() : ''\n    def acqTime    = (timeIdx   != -1 && cols.length > timeIdx) ? cols[timeIdx]?.trim() : ''\n    def satellite  = (satIdx    != -1 && cols.length > satIdx)  ? cols[satIdx]?.trim()  : null\n\n    // Stable-ish id: satellite + position + acquisition; FIRMS has no row id.\n    def fireId = \"firms-${satellite ?: 'x'}-${lat}-${lng}-${acqDate}-${acqTime}\"\n    def traceId = UUID.randomUUID().toString()\n\n    // Event time from acq_date + acq_time (HHMM); fall back to capture time.\n    def eventTime = capturedAt\n    if (acqDate) {\n        def hhmm = acqTime?.isInteger() ? String.format('%04d', acqTime as Integer) : '0000'\n        eventTime = \"${acqDate}T${hhmm[0..1]}:${hhmm[2..3]}:00Z\"\n    }\n\n    def entity = [\n        id            : fireId,\n        name          : \"Fire detection (${feedName})\",\n        domain        : 'LAND',\n        entityType    : 'FIRE',\n        position      : [lat: lat, lng: lng, alt: null],\n        threat        : 'NONE',\n        classification: 'UNCLASSIFIED',\n        confidence    : 0.8,\n        timestamp     : eventTime,\n        source        : [\n            provider  : 'NASA-FIRMS',\n            feed      : 'fires',\n            originalId: fireId,\n            confidence: 0.8,\n            sourceUrl : sourceUrl,\n            updated   : null,\n        ],\n        properties    : [\n            brightness: brightness,\n            confidence: confidence,\n            frp       : frp,\n            date      : acqDate,\n            time      : acqTime,\n            satellite : satellite,\n            firetype  : 'satellite-detection',\n            sourceName: feedName,\n        ],\n    ]\n\n    def envelope = [\n        schema_version: 1,\n        trace_id      : traceId,\n        ingest_run_id : ingestRunId,\n        source        : 'fires',\n        captured_at   : capturedAt,\n        entity        : entity,\n    ]\n\n    def out = session.create(flowFile)\n    out = session.write(out, { outStream ->\n        outStream.write(JsonOutput.toJson(envelope).getBytes('UTF-8'))\n    } as OutputStreamCallback)\n    out = session.putAttribute(out, 'mime.type', 'application/json')\n    out = session.putAttribute(out, 'kafka.key', fireId)\n    out = session.putAttribute(out, 'trace.id', traceId)\n    session.transfer(out, REL_SUCCESS)\n    emitted++\n}\n\nif (emitted == 0) {\n    log.warn('No fire entities emitted from FIRMS payload')\n    session.transfer(flowFile, REL_FAILURE)\n} else {\n    log.info(\"Emitted ${emitted} fire entities (of ${dataRows} rows, step ${step}) to Kafka path\")\n    session.remove(flowFile)\n}","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7ecfd06b-b44c-35b6-8eeb-6cfd95bab7fc"},{"identifier":"97d0437f-3453-3747-a9fb-5a7c2eb59406","instanceIdentifier":"28f85cdf-019f-1000-ffff-fffff9c23941","name":"Call NASA-FIRMS API (10 MIN)","comments":"","position":{"x":-248.0,"y":-392.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"10 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7ecfd06b-b44c-35b6-8eeb-6cfd95bab7fc"},{"identifier":"7c71f7cd-6f70-3b79-0000-000048d5fc61","instanceIdentifier":"5f9a039b-d92f-31be-b526-fd0d32b47a5a","name":"PublishKafka","comments":"","position":{"x":-232.0,"y":512.0},"type":"org.apache.nifi.kafka.processors.PublishKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"compression.type":"none","acks":"all","Message Demarcator":null,"Kafka Key Attribute Encoding":"utf-8","Record Reader":null,"Record Metadata Strategy":"FROM_PROPERTIES","Transactional ID Prefix":null,"Header Encoding":"UTF-8","max.request.size":"1 MB","Topic Name":"osiris-events","Kafka Key":null,"partition":null,"Kafka Connection Service":"18fc4d06-a278-326e-bbee-83dfecb55e89","Publish Strategy":"USE_VALUE","Record Key Writer":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","Record Writer":null,"Transactions Enabled":"true","Message Key Field":null,"FlowFile Attribute Header Pattern":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key Attribute Encoding":{"name":"Kafka Key Attribute Encoding","displayName":"Kafka Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transactional ID Prefix":{"name":"Transactional ID Prefix","displayName":"Transactional ID Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Name":{"name":"Topic Name","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Key":{"name":"Kafka Key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Publish Strategy":{"name":"Publish Strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Key Writer":{"name":"Record Key Writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner Class","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Transactions Enabled":{"name":"Transactions Enabled","displayName":"Transactions Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Message Key Field":{"name":"Message Key Field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false,"dynamic":false},"FlowFile Attribute Header Pattern":{"name":"FlowFile Attribute Header Pattern","displayName":"FlowFile Attribute Header Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7ecfd06b-b44c-35b6-8eeb-6cfd95bab7fc"},{"identifier":"3ca771cf-0274-37d8-a01a-8ceb7b5b3f70","instanceIdentifier":"28f89a65-019f-1000-0000-000024a2b145","name":"InvokeHTTP","comments":"","position":{"x":-232.0,"y":-88.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"5 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://firms.modaps.eosdis.nasa.gov/data/active_fire/suomi-npp-viirs-c2/csv/SUOMI_VIIRS_C2_Global_24h.csv","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Retry","Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"7ecfd06b-b44c-35b6-8eeb-6cfd95bab7fc"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"4b21898f-82fe-3b94-a2dc-5ee5e339e332","instanceIdentifier":"28fec3ad-019f-1000-ffff-ffffe869a14b","name":"","source":{"id":"4e11b2d4-4474-3a9f-ffff-ffffe349d4d8","type":"PROCESSOR","groupId":"7ecfd06b-b44c-35b6-8eeb-6cfd95bab7fc","name":"Transform to PolyBolos","comments":"","instanceIdentifier":"6306688e-dd3b-3082-8bee-dee1efebabd6"},"destination":{"id":"7c71f7cd-6f70-3b79-0000-000048d5fc61","type":"PROCESSOR","groupId":"7ecfd06b-b44c-35b6-8eeb-6cfd95bab7fc","name":"PublishKafka","comments":"","instanceIdentifier":"5f9a039b-d92f-31be-b526-fd0d32b47a5a"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7ecfd06b-b44c-35b6-8eeb-6cfd95bab7fc"},{"identifier":"57ce5474-fb4d-369d-8f30-ee53d5268b2e","instanceIdentifier":"28feda45-019f-1000-0000-000047a46612","name":"","source":{"id":"7c71f7cd-6f70-3b79-0000-000048d5fc61","type":"PROCESSOR","groupId":"7ecfd06b-b44c-35b6-8eeb-6cfd95bab7fc","name":"PublishKafka","comments":"","instanceIdentifier":"5f9a039b-d92f-31be-b526-fd0d32b47a5a"},"destination":{"id":"a10c9697-1845-3501-9a93-1b0cb7e2e3b6","type":"FUNNEL","groupId":"7ecfd06b-b44c-35b6-8eeb-6cfd95bab7fc","name":"Funnel","comments":"","instanceIdentifier":"28fc1fac-019f-1000-0000-00002a1bb223"},"labelIndex":0,"zIndex":6,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7ecfd06b-b44c-35b6-8eeb-6cfd95bab7fc"},{"identifier":"55ab2b92-bada-3cf3-a249-781daab864dc","instanceIdentifier":"28fc3fdc-019f-1000-ffff-ffffc9cbcd59","name":"","source":{"id":"3ca771cf-0274-37d8-a01a-8ceb7b5b3f70","type":"PROCESSOR","groupId":"7ecfd06b-b44c-35b6-8eeb-6cfd95bab7fc","name":"InvokeHTTP","comments":"","instanceIdentifier":"28f89a65-019f-1000-0000-000024a2b145"},"destination":{"id":"a10c9697-1845-3501-9a93-1b0cb7e2e3b6","type":"FUNNEL","groupId":"7ecfd06b-b44c-35b6-8eeb-6cfd95bab7fc","name":"Funnel","comments":"","instanceIdentifier":"28fc1fac-019f-1000-0000-00002a1bb223"},"labelIndex":0,"zIndex":2,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7ecfd06b-b44c-35b6-8eeb-6cfd95bab7fc"},{"identifier":"abdd45a1-edd4-33b5-af17-ea1355356e9f","instanceIdentifier":"28fe5ffd-019f-1000-0000-000005ec66f5","name":"","source":{"id":"4e11b2d4-4474-3a9f-ffff-ffffe349d4d8","type":"PROCESSOR","groupId":"7ecfd06b-b44c-35b6-8eeb-6cfd95bab7fc","name":"Transform to PolyBolos","comments":"","instanceIdentifier":"6306688e-dd3b-3082-8bee-dee1efebabd6"},"destination":{"id":"a10c9697-1845-3501-9a93-1b0cb7e2e3b6","type":"FUNNEL","groupId":"7ecfd06b-b44c-35b6-8eeb-6cfd95bab7fc","name":"Funnel","comments":"","instanceIdentifier":"28fc1fac-019f-1000-0000-00002a1bb223"},"labelIndex":0,"zIndex":4,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7ecfd06b-b44c-35b6-8eeb-6cfd95bab7fc"},{"identifier":"aed7d130-5856-3e0e-8a8f-d61db3d94f67","instanceIdentifier":"28fcfeee-019f-1000-ffff-ffffb1559b04","name":"","source":{"id":"3ca771cf-0274-37d8-a01a-8ceb7b5b3f70","type":"PROCESSOR","groupId":"7ecfd06b-b44c-35b6-8eeb-6cfd95bab7fc","name":"InvokeHTTP","comments":"","instanceIdentifier":"28f89a65-019f-1000-0000-000024a2b145"},"destination":{"id":"4e11b2d4-4474-3a9f-ffff-ffffe349d4d8","type":"PROCESSOR","groupId":"7ecfd06b-b44c-35b6-8eeb-6cfd95bab7fc","name":"Transform to PolyBolos","comments":"","instanceIdentifier":"6306688e-dd3b-3082-8bee-dee1efebabd6"},"labelIndex":0,"zIndex":3,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7ecfd06b-b44c-35b6-8eeb-6cfd95bab7fc"},{"identifier":"9a75cecb-cff1-3c98-b6cb-90a0feb2e6bf","instanceIdentifier":"28f8ae01-019f-1000-ffff-ffff882ea68c","name":"","source":{"id":"97d0437f-3453-3747-a9fb-5a7c2eb59406","type":"PROCESSOR","groupId":"7ecfd06b-b44c-35b6-8eeb-6cfd95bab7fc","name":"Call NASA-FIRMS API (10 MIN)","comments":"","instanceIdentifier":"28f85cdf-019f-1000-ffff-fffff9c23941"},"destination":{"id":"3ca771cf-0274-37d8-a01a-8ceb7b5b3f70","type":"PROCESSOR","groupId":"7ecfd06b-b44c-35b6-8eeb-6cfd95bab7fc","name":"InvokeHTTP","comments":"","instanceIdentifier":"28f89a65-019f-1000-0000-000024a2b145"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"7ecfd06b-b44c-35b6-8eeb-6cfd95bab7fc"}],"labels":[],"funnels":[{"identifier":"a10c9697-1845-3501-9a93-1b0cb7e2e3b6","instanceIdentifier":"28fc1fac-019f-1000-0000-00002a1bb223","position":{"x":-632.0,"y":176.0},"componentType":"FUNNEL","groupIdentifier":"7ecfd06b-b44c-35b6-8eeb-6cfd95bab7fc"}],"controllerServices":[{"identifier":"18fc4d06-a278-326e-bbee-83dfecb55e89","instanceIdentifier":"28ffa460-019f-1000-0000-00007449df61","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.6.0.4.12.0.0-914"},"properties":{"ack.wait.time":"5 sec","sasl.username":"cburns","max.poll.records":"10000","bootstrap.servers":"intelligence-service-kafka-corebroker0.se-sandb.a465-9q4k.cloudera.site:9093, intelligence-service-kafka-corebroker2.se-sandb.a465-9q4k.cloudera.site:9093, intelligence-service-kafka-corebroker1.se-sandb.a465-9q4k.cloudera.site:9093","sasl.kerberos.service.name":null,"security.protocol":"SASL_SSL","SSL Context Service":null,"sasl.mechanism":"PLAIN","isolation.level":"read_committed","oauth2-access-token-provider-service":null,"max.block.ms":"5 sec","kerberos-user-service":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"oauth2-access-token-provider-service":{"name":"oauth2-access-token-provider-service","displayName":"OAuth2 Access Token Provider Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.6.0.4.12.0.0-914"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"7ecfd06b-b44c-35b6-8eeb-6cfd95bab7fc"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}